<button id="btnReset" class="cbButton" type="button" style="float:left;" onclick="resetSearch('Invoiced Jobs - Production Report', '[@cbHostPage]');">Reset</button>

<script type="text/javascript">

    document.addEventListener('DataPageReady', function (event) {
        var resetButton = $('#btnReset');
        var searchButton = $('input[name="searchID"]');
        $($(searchButton).closest('td')).append(resetButton);
    });    

</script>
