<button id="btnReset" class="cbButton" type="button" style="float:left;" onclick="resetSearch('Invoice  Report - Invoiced Jobs', '[@cbHostPage]');">Reset</button>

<script type="text/javascript">

    document.addEventListener('DataPageReady', function (event) {
        var resetButton = $('#btnReset');
        var searchButton = $('input[name="searchID"]');
        $(searchButton).val('Update');
        $($(searchButton).closest('td')).append(resetButton);
    });    

</script>
