<style type="text/css">

    .job-label {
        color: [@app: color_purple_dark];
        font-weight: bold !important;
        white-space: nowrap;
    }

</style>

<br /><br />
<strong>Invoice&nbsp;[@field:tblJob_invoiceID]<br />
[@field:custName]</strong><br />
[@cbTimestamp*]<br />
<br /><br /><br />