<script type="text/javascript">
    document.addEventListener('DataPageReady', function (event) {
        if (event.detail.appKey == '1dae60005739294015204d88b4c4') {

            let calcField1, url_string, navUrls, navUrlLength, navText, n, p;
            
            const custParams = ["cust-artwork","[@app:clearParams_custArt]","cust-stock-artwork","[@app:clearParams_stockArt]","cust-orders","[@app:clearParams_custOrder]","cust-garments","[@app:clearParams_custGarments]","cust-calendar","[@app:clearParams_custCal]"];

            if ("[@calcfield:1]") {
                calcField1 = "[@calcfield:1]"; //field where you store comma delimited string

                // In the calculated field, we needed to include the nav_sort field so we could sort the links by tblURL.nav_sort, but now we need to remove the resulting xml tags from our string before writing to the page
                url_string = calcField1.replace(/\&lt\;nav\_sort\&gt\;\d*\&lt\;\/nav\_sort\&gt\;/gi, '');

                navUrls = url_string.split(', ');
                navUrlLength = navUrls.length;

                navText = "";
                for (n = 0; n < navUrlLength; n = n + 4) {
                    if (navUrls[n] !== "") {
                        if (navUrls[n + 2] == "_self") {
                            navText += '<li id="' + navUrls[n] + '"><a href="' + navUrls[n + 1] + '" target=\"' + navUrls[n + 2] + '\">' + navUrls[n + 3] + '</a></li>';
                        } else {
                            navText += '<li id="' + navUrls[n] + '"><a href="https://' + navUrls[n + 1] + '" target=\"' + navUrls[n + 2] + '\">' + navUrls[n + 3] + '</a></li>';
                        }
                    }
                }
                navText += '<li id="logout"><a href="[@app:URL_Logout]">Log Out</a></li>';
                document.getElementById("navLinks").innerHTML = navText.trim();

                // Add the app params that will only clear the params for a specific page by clicking on the nav link
                for (p = 0; p < custParams.length; p = p + 2) {
                    document.getElementById(custParams[p]).querySelector("a").href = document.getElementById(custParams[p]).querySelector("a").href + "?" + custParams[p + 1];
                }

                // This function pulls the pageGroupName variable from the parent html page:
                setActiveNavLink(pageGroupName);
            }
        }
    });
</script>