<div id="artFile-[@field:artFile_id]"></div>
<div id="fileLink-[@field:artFile_id]"></div>

<script>

  document.addEventListener('DataPageReady', function (event) {
    if (event.detail.appKey == '1dae60009564d7a4d6b644dca30b') {

      // Show the File if it exists. 
      // function displayFileResp(containerDivId, fileName_field, s3URL_field, width, height, classname) is defined in the Navigation Menu datapage.
      // Classname is optional, and will be given the default value of 'display-file' if not specified.

      displayFileResp('artFile-[@field:artFile_id]', '[@field:artFile_filename/]', '[@field:artFile_URL]', 300, 300);
      $('#img-artFile-[@field:artFile_id]').css('max-width','100%');

      // Show the file download link
            var artFile_file = '[@field:artFile_filename]' ? 'https://cdn.caspio.com/1DAE6000[@calcfield:1]' : '[@field:artFile_filename]'
            var artFile_URL = '[@field:artFile_URL]' ? 'https://[@field:artFile_URL]' : '[@field:artFile_URL]';
            var fileURL = artFile_file ? artFile_file : artFile_URL;
            var fileName = '[@field:artFile_filename]' ? '[@field:artFile_filename]' : '[@field:artFile_URL]'

            if (fileURL) {

                $('#fileLink-[@field:artFile_id]').append("<p><a href='" + fileURL.replace(/\+/g,"%2B") + "' download target='_blank'>" + fileName.replace(/.*\/+(?!\/)/, '') + "</a></p>");
            }
    }

  });

</script>
