<head>

  <style type="text/css">
    .centered-container {
      position: relative;
      width: 100%;
      text-align: center;
      margin-top: 40px;
    }

    .centered-container h2 {
      margin-top: 20px;
    }

    .iframe-container {
      position: relative;
      width: 100%;
      padding-bottom: 50%;
    }

    .iframe-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    @media only screen and (min-width: 1100px) {

      /* For desktop: */
      .iframe-container {
        text-align: center;
        height: 575px;
        padding-bottom: 0;
      }

      .iframe-container iframe {
        position: static;
        width: 900px;
        display: inline-block;
      }
    }
  </style>

</head>

<body>
  <h1>Video Tutorials</h1>
  <p>On this page, we've put together a few video tutorials to help you get up and running with the customer portal on
    our website.<br>
    We will be continually updating our website as time goes on, so you may notice changes or improvements to how things
    are described in the videos.</p>

  <div class="centered-container">
    <h2>Editing Account Details</h2>
  </div>
  <div class="iframe-container">
    <iframe src="//www.youtube.com/embed/5e8qtHfWgsI?cc_load_policy=1&rel=0" width="900" height="575" frameborder="0"
      allowfullscreen></iframe></iframe>
  </div>

  <div class="centered-container">
    <h2>Garments Module</h2>
  </div>
  <div class="iframe-container">
    <iframe src="//www.youtube.com/embed/UbqqVkeGEd8?cc_load_policy=1&rel=0" width="900" height="575" frameborder="0"
      allowfullscreen></iframe></iframe>
  </div>

  <div class="centered-container">
    <h2>Artwork Module</h2>
    <div style="text-align: left; width: 700px; display: inline-block;">
      <p>Part 1: Overview</p>
      <p>Part 2: Using the search form</p>
      <p>Part 3: Saving artwork files, and viewing the details page for an artwork record</p>
    </div>
    <br>
    <br>
  </div>
  <div class="iframe-container">
    <iframe width="900" height="575"
      src="//www.youtube.com/embed/videoseries?list=PLffd3vYRB8MmZWfDShKM3Y2WukeQ21J9T&cc_load_policy=1&rel=0"
      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>

  <div class="centered-container">
    <h2>Proofs Module</h2>
    <div style="text-align: left; width: 700px; display: inline-block;">
      <p>Part 1: Overview of search form and proof status categories</p>
      <p>Part 2: Sending messages with no attachment, changing CC emails</p>
      <p>Part 3: Saving files, explanation of the Finalized proof status</p>
      <p>Part 4: Sending messages with an attachment</p>
    </div>
    <br>
    <br>
  </div>
  <div class="iframe-container">
    <iframe width="900" height="575"
      src="//www.youtube.com/embed/videoseries?list=PLffd3vYRB8Ml-imB6wvqL1QSKZwki01yo&cc_load_policy=1&rel=0"
      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>

</body>