<head>
    <script src="[@app:URL_jquery_include]"></script>
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700&amp;subset=latin,latin-ext" rel="stylesheet"
        type="text/css">
    <style type="text/css">
        .main-nav {
            width: 100%;
            padding: 0;
            text-transform: uppercase;
            margin-bottom: 40px;
        }

        .main-nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #E4F0F8;

            display: -webkit-box;
            /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;
            /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;
            /* TWEENER - IE 10 */
            display: -webkit-flex;
            /* NEW - Chrome */
            display: flex;
            /* NEW, Spec - Opera 12.1, Firefox 20+ */

            justify-content: center;
            flex-wrap: wrap;
        }

        li {
            flex-grow: 1;
        }

        .main-nav li a {
            display: block;
            color: [@app:color_purple_dark];
            text-align: center;
            padding: 10px 16px;
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
        }

        .main-nav li a:hover {
            color: [@app:color_purple_dark];
            background-color: #C6B5DE;
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
        }

        li.active a {
            color: white;
            background-color: [@app:color_purple_dark];
            text-decoration: none;
            font-weight: bold;
        }

        #logout {
            background-color: #f8b1b1;
        }

        #logout a:hover {
            color: white;
            background-color: #e91111;
        }
    </style>

</head>

<body>
    <nav class="main-nav" role="navigation">
        <ul id="navLinks">
            <!-- this is where the navUrls will go -->
        </ul>
    </nav>

    <!--
The Weebly pages will set the active class! This is set in the bottom-most html block, underneath the Javascript to limit datapage login forms.
-->

    <script type="text/javascript">

        var navUrls, navUrlLength, i, text;
        navUrls = [
            ["[@authfield:Join_UserAccess_URL_url_1_element_id]", "[@authfield:Join_UserAccess_URL_url_1_address!]", "[@authfield:Join_UserAccess_URL_url_1_target]", "[@authfield:Join_UserAccess_URL_url_1_element_value]"],
            ["[@authfield:Join_UserAccess_URL_url_2_element_id]", "[@authfield:Join_UserAccess_URL_url_2_address!]", "[@authfield:Join_UserAccess_URL_url_2_target]", "[@authfield:Join_UserAccess_URL_url_2_element_value]"],
            ["[@authfield:Join_UserAccess_URL_url_3_element_id]", "[@authfield:Join_UserAccess_URL_url_3_address!]", "[@authfield:Join_UserAccess_URL_url_3_target]", "[@authfield:Join_UserAccess_URL_url_3_element_value]"],
            ["[@authfield:Join_UserAccess_URL_url_4_element_id]", "[@authfield:Join_UserAccess_URL_url_4_address!]", "[@authfield:Join_UserAccess_URL_url_4_target]", "[@authfield:Join_UserAccess_URL_url_4_element_value]"],
            ["[@authfield:Join_UserAccess_URL_url_5_element_id]", "[@authfield:Join_UserAccess_URL_url_5_address!]", "[@authfield:Join_UserAccess_URL_url_5_target]", "[@authfield:Join_UserAccess_URL_url_5_element_value]"],
            ["[@authfield:Join_UserAccess_URL_url_6_element_id]", "[@authfield:Join_UserAccess_URL_url_6_address!]", "[@authfield:Join_UserAccess_URL_url_6_target]", "[@authfield:Join_UserAccess_URL_url_6_element_value]"],
            ["[@authfield:Join_UserAccess_URL_url_7_element_id]", "[@authfield:Join_UserAccess_URL_url_7_address!]", "[@authfield:Join_UserAccess_URL_url_7_target]", "[@authfield:Join_UserAccess_URL_url_7_element_value]"],
            ["[@authfield:Join_UserAccess_URL_url_8_element_id]", "[@authfield:Join_UserAccess_URL_url_8_address!]", "[@authfield:Join_UserAccess_URL_url_8_target]", "[@authfield:Join_UserAccess_URL_url_8_element_value]"],
            ["[@authfield:Join_UserAccess_URL_url_9_element_id]", "[@authfield:Join_UserAccess_URL_url_9_address!]", "[@authfield:Join_UserAccess_URL_url_9_target]", "[@authfield:Join_UserAccess_URL_url_9_element_value]"],
            ["[@authfield:Join_UserAccess_URL_url_10_element_id]", "[@authfield:Join_UserAccess_URL_url_10_address!]", "[@authfield:Join_UserAccess_URL_url_10_target]", "[@authfield:Join_UserAccess_URL_url_10_element_value]"]
        ];

        navUrlLength = navUrls.length;

        text = '';

        for (i = 0; i < navUrlLength; i++) {
            if (navUrls[i][0] !== "") {
                if (navUrls[i][2] == "_self") {
                    text += '<li id="' + navUrls[i][0] + '"><a href="' + navUrls[i][1] + '" target=\"' + navUrls[i][2] + '\">' + navUrls[i][3] + '</a></li>';
                } else {
                    text += '<li id="' + navUrls[i][0] + '"><a href="https://' + navUrls[i][1] + '" target=\"' + navUrls[i][2] + '\">' + navUrls[i][3] + '</a></li>';
                }
            }
        }

        if (navUrlLength > 0) {
            text += '<li id="logout"><a href="[@app:URL_Logout]">Log Out</a></li>';
        }

        var navList = document.getElementById("navLinks");
        navList.innerHTML = text.trim();

        // Functions dealing with custom buttons have been moved out of datapages.
        // They are now saved within the file called caspioFunctions.js, which is
        // saved in the files folder of our website

    </script>

</body>