<div id="style_[@field:Garments_Items_Style]-size_[@field:Garments_Items_Size]-job_[@field:tblJob_jobNumber]"></div>

<script>

  document.addEventListener('DataPageReady', function (event) {
    if (event.detail.appKey == '1dae6000bc5f1487bfbb46198698') {

      // Show the File if it exists. 
      // function displayFileResp(containerDivId, fileName_field, s3URL_field, width, height, classname) is defined in the Navigation Menu datapage.
      // Classname is optional, and will be given the default value of 'display-file' if not specified.

      displayFileResp('style_[@field:Garments_Items_Style]-size_[@field:Garments_Items_Size]-job_[@field:tblJob_jobNumber]', '[@field:tblArtFile_artFile_filename/]', '[@field:tblArtFile_artFile_URL]', 100, 100, 'thumbnail');
    }

  });

</script>