<head>
    <style type="text/css">
        /* From 
http://jsfiddle.net/2wk6Q/2957/
and
https://stackoverflow.com/questions/16649943/css-to-set-a4-paper-size
*/

        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: #FFFFFF;
            font: 12pt "Arial";
        }

        * {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        .page {
            width: 216mm;
            min-height: 279mm;
            padding: 20mm;
            margin: 10mm auto;
            border: 1px #D3D3D3 solid;
            border-radius: 5px;
            background: white;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        .subpage {
            padding: 1cm;
            border: 5px red solid;
            height: 239mm;
            /* .page height -40mm (20 off top/bottom) */
            outline: 2cm #FFEAEA solid;
        }

        @page {
            size: Letter;
            margin: 0;
        }

        @media print {

            html,
            body {
                width: 216mm;
                height: 279mm;
            }

            .page {
                margin: 0;
                border: initial;
                border-radius: initial;
                width: initial;
                min-height: initial;
                box-shadow: initial;
                background: initial;
                page-break-after: always;
            }
        }
    </style>
</head>

<body>

    <div class="book">
        <div class="page">
            <div class="subpage">Page 1/2</div>
        </div>
        <div class="page">
            <div class="subpage">Page 2/2</div>
        </div>
    </div>

</body>