<a name="job-[@field:tblJob_jobID]" href="[@field:tblJob_edit_URL]" class="edit-link">[@field:tblJob_jobNumber]</a>

<script>

    document.addEventListener('DataPageReady', function (event) {
        // This function will hide any duplicate rows for artwork with multiple records in the view.
        var i_[@field:tblJob_jobID];
        for (i_[@field:tblJob_jobID] = 1; i_[@field:tblJob_jobID]< $('[name="job-[@field:tblJob_jobID]"]').length; i_[@field:tblJob_jobID]++) {
            $($('[name="job-[@field:tblJob_jobID]"]')[i_[@field:tblJob_jobID]]).closest('tr').css("display", "none");
        }

    });

</script>