﻿</header>
<div class="cbAuthBox">
    <header>
        <h2>Customer Login</h2>
        <p>Please enter your login information here</p>
        <div class="alert alert-warning" role="alert">
            This form has changed:<br />
            Use your email address instead of your username.
        </div>