</footer></div><footer>

    <script type="text/javascript">
        document.addEventListener('DataPageReady', function (event) {
            if (event.detail.appKey == '1dae6000015921cd0eed457fa8a3') {
                //get the unique id for DOM element
                var elementID = event.detail.uniqueSuffix;
                setTimeout($('#xip_datasrc_Auth_Customers' + elementID).closest('form').submit(), 50);
            }
        });
    </script>