﻿<h3>Look Up Machine ID</h3>

<table>
    <thead>
        <tr>
            <th>Department</th>
            <th>Name</th>
            <th>Machine ID</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>EMB</td>
            <td>1 head-Tajima-1</td>
            <td>156</td>
        </tr>
        <tr>
            <td>EMB</td>
            <td>1 head-Tajima-2</td>
            <td>157</td>
        </tr>
        <tr>
            <td>EMB</td>
            <td>1 head-Tajima-3</td>
            <td>158</td>
        </tr>
        <tr>
            <td>EMB</td>
            <td>1 head-Tajima-4</td>
            <td>159</td>
        </tr>
        <tr>
            <td>EMB</td>
            <td>4 head-Tajima-1 (Old)</td>
            <td>153</td>
        </tr>
        <tr>
            <td>EMB</td>
            <td>4 head-Tajima-2 (New)</td>
            <td>154</td>
        </tr>
        <tr>
            <td>EMB</td>
            <td>6 head-Tajima-1</td>
            <td>151</td>
        </tr>
        <tr>
            <td>EMB</td>
            <td>6 head-Tajima-2</td>
            <td>152</td>
        </tr>
        <tr>
            <td>EMB</td>
            <td>8 head-Barudan-1</td>
            <td>160</td>
        </tr>
        <tr>
            <td>SP</td>
            <td>Auto-A8</td>
            <td>130</td>
        </tr>
        <tr>
            <td>SP</td>
            <td>Auto-A12</td>
            <td>10</td>
        </tr>
        <tr>
            <td>SP</td>
            <td>Auto-M12</td>
            <td>140</td>
        </tr>
        <tr>
            <td>SP</td>
            <td>Benmar1</td>
            <td>110</td>
        </tr>
        <tr>
            <td>SP</td>
            <td>Benmar4</td>
            <td>30</td>
        </tr>
        <tr>
            <td>SP</td>
            <td>Benmar6</td>
            <td>20</td>
        </tr>
        <tr>
            <td>SP</td>
            <td>M&R4</td>
            <td>120</td>
        </tr>
        <tr>
            <td>SP</td>
            <td>M&R6</td>
            <td>150</td>
        </tr>
        <tr>
            <td>TRF</td>
            <td>Heat Seal</td>
            <td>100</td>
        </tr>
    </tbody>
</table>