<button id="btnReset" class="cbButton" type="button"
    onclick="resetSearch('Customer Orders', '[@cbHostPage]');">Reset</button>

<script type="text/javascript">
    document.addEventListener('DataPageReady', function (event) {
        if (event.detail.appKey == '1dae600006cc5642c9a5441ea3ab') {
            //get the unique id for DOM element
            var elementID = event.detail.uniqueSuffix;
            var resetButton = document.getElementById('btnReset');
            var searchButton = document.getElementById('searchID' + elementID);
            $($(searchButton).closest('div')).append(resetButton);

            //When the search button is clicked, change the URL to remove any params, so clicking Back in the browser from the Order Details page will maintain the search params (and not reset with cbResetParam=1)
            $(searchButton).on('click', function () {
                ChangeUrl('Customer Orders - Three Twins Productions, Inc', '[@cbHostPage]');
            });

            // Copy the styles of the search button and apply to the reset button
            copyStyles(searchButton, resetButton);
        }
    },
        { once: true }
    );

</script>
