<span style="font-weight: bold; color:[@app:color_purple_dark];">[@field:tblJob_jobType]</span>
<div style="display:inline-block;float:right;background-color:white;border-radius:3px;font-size:smaller;padding:0px 3px 0px 3px;"><a href="[@field:tblWorkOrder_cust_order_detail_URL]&[@app:clearParams_customer]"><span style="color:#522994 !important;text-decoration:none;font-weight:700;">[@field:WorkOrder]</span></a></div>
<br class="clear" />