<script>

  function confirmApprove(formIndex) {
    var f = document.forms[formIndex];
    var question = "Are you ready to approve this proof?\n\nOnce you give your approval, you give your permission for this job to proceed to production.\n\nAll details indicated in this proof will be understood as final.";

    if (confirm(question)) {
      navButtonSpinner();
      f.submit();
    } else {
      return false;
    }
  }

</script>

<span id="newMessage-warning-status2">
  <br>
  <em><strong>Sending a message will not change
      the status of this proof to Approved.<br>In order to approve a proof, you must click the Approve button.</strong></em></span>

<span id="newMessage-warning-status3">
  <br>
  <em><strong>This proof has already been Approved.<br>If you send a new message, it will remove the Approved
      status.</strong></em></span>

<h1>[@field:tblProof_proof_description]</h1>
<h4>[@field:tblProof_custCompany]</h4>
<h5>Prepared for: [@field:tblProof_custContact_fullName]</h5>
<h5>Artist: [@field:tblProof_artist_user_id]</h5>
<p><a href="#" id="downloadLink-[@field:tblProof_proof_id]" target="_blank"
    style="font-weight: bold; text-transform:uppercase; display:none;">Open Proof File</a></p>
<p>
  Order ID: <a href="[@field:tblWorkOrder_cust_order_detail_URL]&InsertRecordproof_key=[@field:tblProof_proof_key]&[@app:clearParams_customer]"><span class="orderID">[@field:tblProof_workOrder_id]</span></a> <!--<a id="duplicateID" class="linkButton" href="[@field:tblWorkOrder_new_cust_order_URL]" style="margin-top: -12px !important; display: none !important;">Duplicate Order</a>--><br />
  Customer PO: <strong>[@field:tblProof_po]</strong> <br />
  Status: <span id="proofStatus-[@field:tblProof_proof_id]" class="statusStyling"></span> <br />
  Art Log Numbers Used: 
  <span id="custProof_artLogs"></span><!-- This will be filled in by a script at the bottom of the parent html page customer-proof-detail.html -->
</p>

<!--<button
  onclick="confirmApprove(2);"
  class="cbButton" id="approveID" type="button">Approve</button>-->

<div id="messageNoteActive-[@field:tblProof_proof_id]" class="active-message truncate-overflow" style="display: none;">
  [@field:tblProof_active_message_notes!]</div>

<script>

  document.addEventListener('DataPageReady', function (event) {

    // Remove extra line breaks from the Active Message, and change it to visible if it exists
    if ($('#messageNoteActive-[@field:tblProof_proof_id]').text() != '') {
      $('#messageNoteActive-[@field:tblProof_proof_id]').html($('#messageNoteActive-[@field:tblProof_proof_id]').html().replace(/\r?\n|\r/g, ''));
      $('#messageNoteActive-[@field:tblProof_proof_id]').css("display", "block");
    }

    // Add the proof status
    switch ('[@field:tblProof_proofStatus]') {
      case '2':
        if ('[@field:tblProof_approvable]' == 'Yes') {
          $('#proofStatus-[@field:tblProof_proof_id]').text('Awaiting Approval');
          $('#proofStatus-[@field:tblProof_proof_id]').addClass('status2-approvable');
          $('#approveID').css("display", "inline-block");
          $('#newMessage-warning-status2').css("display", "inline-block");
        } else {
          $('#proofStatus-[@field:tblProof_proof_id]').text('Needs Feedback');
          $('#proofStatus-[@field:tblProof_proof_id]').addClass('status2');
        }
        break;
      case '0':
        $('#proofStatus-[@field:tblProof_proof_id]').addClass('status0');
        $('#proofStatus-[@field:tblProof_proof_id]').text('Message Sent');
        if ('[@field:tblProof_approvable]' == 'Yes') {
          $('#approveID').css("display", "inline-block");
          $('#newMessage-warning-status2').css("display", "inline-block");
        }
        if ('[@field:tblProof_info_only]' == 'Yes') {
          $('#proofStatus-[@field:tblProof_proof_id]').text('Information Only');
        }
        break;
      case '1':
        $('#proofStatus-[@field:tblProof_proof_id]').addClass('status1');
        $('#proofStatus-[@field:tblProof_proof_id]').text('Started');
        break;
      case '3':
        $('#proofStatus-[@field:tblProof_proof_id]').addClass('status3');
        $('#proofStatus-[@field:tblProof_proof_id]').text('Approved');
        $('#newMessage-warning-status3').css("display", "inline-block");
        break;
      case '4':
        $('#proofStatus-[@field:tblProof_proof_id]').addClass('status4');
        $('#proofStatus-[@field:tblProof_proof_id]').text('Finalized');
        $('#newMessageID').css("display", "none");
        $('.newMessage').css("display", "none");
        break;
      case '5':
        $('#proofStatus-[@field:tblProof_proof_id]').addClass('status5');
        $('#proofStatus-[@field:tblProof_proof_id]').text('On Hold');
        if ('[@field:tblProof_approvable]' == 'Yes') {
          $('#approveID').css("display", "inline-block");
          $('#newMessage-warning-status2').css("display", "inline-block");
        }
        break;
      case '6':
        $('#proofStatus-[@field:tblProof_proof_id]').addClass('status6');
        $('#proofStatus-[@field:tblProof_proof_id]').text('Canceled');
        $('#newMessageID').css("display", "none");
        $('.newMessage').css("display", "none");
    }

    // Add the Open Proof File URL
        
    var fileURL = '[@field:tblArtFile_artFile_filename]' ? 'https://cdn.caspio.com/1DAE6000[@field:tblArtFile_artFile_filename]' : ('[@field:tblArtFile_artFile_URL]' ? 'https://[@field:tblArtFile_artFile_URL]' : '[@field:tblArtFile_artFile_URL]');
      if (fileURL) {
        $('#downloadLink-[@field:tblProof_proof_id]').attr("href", fileURL);
        $('#downloadLink-[@field:tblProof_proof_id]').css("display", "block");
      }

  });

</script>