<style type="text/css">

    .newMessage {
        border-color: [@app:color_0_red] !important;
        background-color: [@app:color_light_0_red] !important;
        text-transform: uppercase !important;
        border-radius: 5px !important;
        font-size: 1.5em !important;
        border-width: 4px !important;
        margin-top: 10px !important;
    }

    .newMessage:hover {
        border-color: [@app:color_purple_dark] !important;
        background-color: [@app:color_0_red] !important;
    }

</style>