<div id="proofStatus_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]" class="proofStatusStyling">[@field:Status_Proof_status_for_customer]</div>

<script>

  document.addEventListener('DataPageReady', function (event) {

    // Add the proof status
    switch ('[@field:tblProof_proofStatus]') {
      case '2':
        $('#proofStatus_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]').addClass('status2');
        $('#proofStatus_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]').text('Needs Feedback');
        if ('[@field:tblProof_approvable]' == 'Yes') {
          $('#proofStatus_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]').removeClass('status2');
          $('#proofStatus_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]').addClass('status2-approvable');
          $('#proofStatus_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]').text('Awaiting Approval');
        }
        break;
      case '0':
        $('#proofStatus_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]').addClass('status0');
        if ('[@field:tblProof_info_only]' == 'Yes') {
          $('#proofStatus_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]').text('Information Only');
        }
        break;
      case '1':
        $('#proofStatus_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]').addClass('status1');
        break;
      case '3':
        $('#proofStatus_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]').addClass('status3');
        break;
      case '4':
        $('#proofStatus_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]').addClass('status3');
        $('#proofStatus_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]').text('Approved');
        if ('[@field:tblWorkOrder_woStatus]' == '3') {
          $('#proofStatus_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]').removeClass('status3');
          $('#proofStatus_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]').addClass('status4');
          $('#proofStatus_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]').text('Finalized');
        }
        break;
      case '7':
        $('#proofStatus_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]').addClass('status4');
        break;
      case '5':
        $('#proofStatus_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]').addClass('status5');
        break;
      case '6':
        $('#proofStatus_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]').addClass('status6');
    }

  });

</script>
