<div id="productionStatuses" class="container-fluid d-flex justify-content-end" style="padding:0;">
    <div class="row gx-2">
        <div class="statusLabelContainer col">
            <h3 style="padding-top: 0;">Order Data</h3>
            <div id="orderDataStatus_[@field:tblWorkOrder_workOrder_id]"
                class="statusStyling status[@field:Status_OrderData_orderDataStatusCode]">
                [@field:Status_OrderData_orderDataStatusDesc]
            </div>
        </div>
        
        <div class="statusLabelContainer col">
            <h3 style="padding-top: 0;">Garments</h3>
            <div id="garmentStatus_[@field:tblWorkOrder_workOrder_id]"
                class="statusStyling status[@field:Status_Garment_garmentStatusCode]">[@field:Status_Garment_garmentStatusDesc]
            </div>
        </div>
        
        <div class="statusLabelContainer col">
            <h3 style="padding-top: 0;">Artwork</h3>
            <div id="artStatus_[@field:tblWorkOrder_workOrder_id]"
                class="statusStyling status[@field:Status_Art_artStatusCode]">[@field:Status_Art_artStatusDesc]
            </div>
        </div>
    </div>
</div>


<script>

    document.addEventListener('DataPageReady', function (event) {
        if (event.detail.appKey == '1dae60001de8d79938f44f458472') {

            $($('.statusLabelContainer')[0]).closest('tr').addClass('no-print');

            if ('[@field:Status_Art_artStatusDesc]' == 'Waiting') {
                $('#artStatus_[@field:tblWorkOrder_workOrder_id]').text('Needs Attention');
            }

            $('#productionStatuses').closest('section').closest('div').css('width','425px');
        }
    });

</script>