<script>

    function confirmApprove(formIndex) {
        var f = document.forms[formIndex];
        var question = "Are you ready to approve this proof?\n\nOnce you give your approval, you give your permission for this job to proceed to production.\n\nAll details indicated in this proof will be understood as final.";

        if (confirm(question)) {
            // navButtonSpinner();
            f.submit();
        } else {
            return false;
        }
    }

</script>

<button onclick="confirmApprove(2);" class="cbButton" id="approveID" type="button">Approve</button>

<table style="display:none;"><tr><td>
