<br /><span style="color:[@app:color_0_red]; font-size: 1.5rem;"><em><strong>2. You must click UPLOAD<br /> to attach your file</strong></em></span>
<br /><br />
(File Name link and/or Preview will appear above)