<script>

  function cancelMessage(formIndex, category) {
    var f = document.forms[formIndex];
    var question = "Are you sure you want to cancel this " + category + "?";

    if (confirm(question)) {
      window.location.assign('[@app:relativeURL_CustOrderDetail]');
    } else {
      return false;
    }
  }

</script>

<button class="cbButton" id="sendID" type="submit">Send</button>
<button onclick="cancelMessage(1,'message');" class="cbButton" id="cancelID" type="button">Cancel</button>