<div id="jobThumb" class="float-right"></div>
<br class="clear" /><br />
Order: <span class="orderNumber">[@field:workOrder_id]</span><br />
<b>[@field:tblWorkOrder_woDescription]</b>
<br />
Date In: <b>[@field:tblWorkOrder_woDateIn*]</b>&nbsp;&nbsp;&nbsp;&nbsp;Date Needed: <b>[@field:tblWorkOrder_woDateNeeded*]</b><br />
<a id="proof_link[@field:tblJob_jobID]" class="linkButton" href="[@calcfield:3]" style="display: none;">Visit Proof</a>
<a class="linkButton" href="[@field:tblWorkOrder_new_cust_order_URL]" style="display:inline-block;">Duplicate Order</a>
<br /><br />
Art Log Number: <a href="[@calcfield:1]">[@calcfield:2]</a>

<script>

    document.addEventListener('DataPageReady', function (event) {
        if (event.detail.appKey == '1dae600052986012327042dfa6a0') {

            // Move the thumbnail and caption
            $($('.orderNumber').closest('form')).prepend($('#jobThumb'));
            $('#jobThumb').empty();

            // Show the thumbnail if the job has an art log number

            // Show the File if it exists. 
            // function displayFileResp(containerDivId, fileName_field, s3URL_field, width, height, classname) is defined in the Navigation Menu datapage.
            // Classname is optional, and will be given the default value of 'display-file' if not specified.

            displayFileResp('jobThumb', '[@field:tblArtFile_artFile_filename/]', '[@field:tblArtFile_artFile_URL]', 310, 400, 'thumb');

            if ('[@calcfield:3]') {
                $('#proof_link[@field:tblJob_jobID]').css("display","inline-block");
            }
        }

    });

</script>

<table style="display:none;"><tr><td>