<h4>[@field:Messages_dateSent@]</h4>
&nbsp;&nbsp;&nbsp;[@field:Messages_dateSent*] <br />
<br />
<b>From: </b> [@field:Messages_sender] <br />
<br />

<div class="hidden" id='active_[@field:Messages_messages_id]'>[@field:Join_Proof_ActiveMessage_active]</div>
<h3 id='activeLabel_[@field:Messages_messages_id]' class="hidden">ACTIVE PROOF</h3>

<script type="text/javascript">
  var activeStatus = document.getElementById('active_[@field:Messages_messages_id]');
  var activeLabel = document.getElementById('activeLabel_[@field:Messages_messages_id]');

  if (activeStatus.innerHTML == "Yes") {
    activeLabel.className = "message-active";

  }
</script>