<script>

  document.addEventListener('DataPageReady', function (event) {
      if (event.detail.appKey == '1dae6000abb59a44c12747a1a871') {

          let list_string, arr, arrLen, list_text, j;

          if ("[@calcfield:1]") {
              list_string = "[@calcfield:1]"; //field where you store comma delimited string

              arr = list_string.split(', ');
              arrLen = arr.length;

              list_text = "";
              for (j = 0; j < arrLen; j = j + 4) {
                  
                      list_text += "<p><a href='https://" + arr[j+2] + arr[j+3] + "' download target='_blank'>" + arr[j+1].replace(/.*\/+(?!\/)/, '') + "</a></p>";
                  
              }

              if (list_text !== "") {
                  list_text = "<h4>Attachments</h4>" + list_text;
                  $('#attachmentsList').append(list_text);
              }
          }

      }

  });

</script>