<script>

  function confirmApprove(formIndex) {
    var f = document.forms[formIndex];
    var question = "Are you ready to approve this proof? \n\nOnce you give your approval, you give your permission for this job to proceed to production. \n\nAll details indicated in this proof will be understood as final.";

    if (confirm(question)) {
      f.submit();
    } else {
      return false;
    }
  }

</script>

<h1>[@field:tblProof_proof_description]</h1>
<h4>[@field:tblProof_custCompany]</h4>
<h5>Prepared for: [@field:tblProof_custContact_fullName]</h5>
<h5>Artist: [@field:tblProof_artist_user_id]</h5>
<p><a href="#" id="downloadLink02-[@field:tblProof_proof_id]" target="_blank"
    style="font-weight: bold; text-transform:uppercase;">Open Proof File</a></p>
<p>
  Work Order ID: <strong>[@field:tblProof_workOrder_id]</strong> <br />
  Customer PO: <strong>[@field:tblProof_po]</strong> <br />
  Status: <span id="proofStatus02-[@field:tblProof_proof_id]" class="statusStyling status2-approvable">Awaiting
    Approval</span>
</p>

<br>
<button onclick="changeDrop(document.getElementById('EditRecordtblProof_proofStatus'), 3); confirmApprove(0);"
  class="cbButton" id="approveID" type="button">Approve</button>

<div id="messageNoteActive02-[@field:tblProof_proof_id]" class="active-message" style="display: none;">
  [@field:tblProof_active_message_notes!]</div>

<script>

  document.addEventListener('DataPageReady', function (event) {

    // Remove extra line breaks from the Active Message, and change it to visible if it exists
    if ($('#messageNoteActive02-[@field:tblProof_proof_id]').text() != '') {
      $('#messageNoteActive02-[@field:tblProof_proof_id]').html($('#messageNoteActive02-[@field:tblProof_proof_id]').html().replace(/\r?\n|\r/g, ''));
      $('#messageNoteActive02-[@field:tblProof_proof_id]').css("display", "block");
    }

    // Add the Open Proof File URL

    var fileURL = '[@field:tblArtFile_artFile_filename]' ? 'https://cdn.caspio.com/1DAE6000[@field:tblArtFile_artFile_filename]' : ('[@field:tblArtFile_artFile_URL]' ? 'https://[@field:tblArtFile_artFile_URL]' : '[@field:tblArtFile_artFile_URL]');
    if (fileURL) {
      $('#downloadLink02-[@field:tblProof_proof_id]').attr("href", fileURL);
      $('#downloadLink02-[@field:tblProof_proof_id]').css("display", "block");
    }

  });

</script>