<div id="proof_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]"></div>

<script>

  document.addEventListener('DataPageReady', function (event) {
    if (event.detail.appKey == '1dae600006cc5642c9a5441ea3ab') {

      // Show the File if it exists. 
      // function displayFileResp(containerDivId, fileName_field, s3URL_field, width, height, classname) is defined in the Navigation Menu datapage.
      // Classname is optional, and will be given the default value of 'display-file' if not specified.

      displayFileResp('proof_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]', '[@field:tblArtFile_artFile_filename/]', '[@field:tblArtFile_artFile_URL]', 120, 120, 'thumbnail');
    }

  });

</script>