<br>
<br>
<span style="
    line-height: 1.5em;
"><em><strong>Sending a message will not change
            the status of this proof to Approved.<br>In order to approve a proof, you must click the Approve button
            above.</strong><br><br>
        Once you have sent a new message, this proof will not be approvable again<br>until we send another message back
        to you.</em></span>