<span style="color:[@app:color_0_red]; font-size: 1.5rem;"><em><strong>1. Choose File</strong></em></span>
<br>
<br>
You can only upload one file at a time.<br />
Use a zip folder for multiple files,<br />
or send multiple messages.<br /><br />
The file upload size limit is 50MB.<br /><br />

<div id="custFile-[@field:custFile_id]"></div>

<script>

  document.addEventListener('DataPageReady', function (event) {
    if (event.detail.appKey == '1dae6000c9f4ac5a9af347369cc8') {

      // Show the File if it exists. 
      // function displayFileResp(containerDivId, fileName_field, s3URL_field, width, height, classname) is defined in the Navigation Menu datapage.
      // Classname is optional, and will be given the default value of 'display-file' if not specified.

      displayFileResp('custFile-[@field:custFile_id]', '[@field:custFile_filename/]', '[@field:custFile_URL]', 400, 400);
    }

  });


</script>