<hr id="artCharge-hr" style="display: none;" width="100%" />

<h1 id="artCharge-[@field:tblProof_proof_id]" style="display: none;">Art Charge: [@field:tblArtCharge_ArtCharge$]</h1>

<script>

    document.addEventListener('DataPageReady', function (event) {

        // Show the art charge if it exists
        if ('[@field:tblArtCharge_proof_key]' != '') {
            $('#artCharge-[@field:tblProof_proof_id]').css("display", "block");
            $('#artCharge-hr').css("display", "block");
        }

    });

</script>