<h3><a
        href="[@field:tblArtWork_cust_detail_URL]">[@field:tblArtWork_artLogNum_dashes]-[@field:tblThumbnail_thumb_version]</a>
</h3>
<br>
<br>
<!-- [@field:tblThumbnail_thumb_version_notes] -->