<button id="btnReset" class="cbButton" type="submit" style="float:left;" onclick="resetSearch('Customer Proofs', '[@cbHostPage]');">Reset</button>

<button
onclick="window.location.assign('[@app:relativeURL_custOrderNew]')"
    class="cbButton" id="addNewID" type="submit" style="float:left;">Submit New Order & Proof Conversation</button>

<script type="text/javascript">

    document.addEventListener('DataPageReady', function (event) {
        var resetButton = $('#btnReset');
        var addButton = $('#addNewID');
        var searchButton = $('input[name="searchID"]');
        $($(searchButton).closest('div')).append(resetButton);
        $($(searchButton).closest('div')).append(addButton);
    });    

</script>