<button id="btnReset" class="cbButton" type="button"
    onclick="resetSearch('Customer Garments', '[@cbHostPage]');">Reset</button>

<script type="text/javascript">
    function copyStyles(origin, destination) {
        let styles = window.getComputedStyle(origin);
        let cssText = styles.cssText;
        cssText = Array.from(styles).reduce((str, property) => {
            return `${str}${property}:${styles.getPropertyValue(property)};`;
        }, '');
        destination.style.cssText = cssText;
    }

    document.addEventListener('DataPageReady', function (event) {
        if (event.detail.appKey == '1dae60009aa0d44af15549ce826c') {
            //get the unique id for DOM element
            var elementID = event.detail.uniqueSuffix;
            var resetButton = document.getElementById('btnReset');
            var searchButton = document.getElementById('searchID' + elementID);
            $($(searchButton).closest('div')).append(resetButton);

            //When the search button is clicked, change the URL to remove any params, so clicking Back from the Artwork Details page will maintain the search params (and not reset with cbResetParam=1)
            $(searchButton).on('click', function () {
                ChangeUrl('Customer Garments - Three Twins Productions, Inc', '[@cbHostPage]');
            });

            // Copy the styles of the search button and apply to the reset button
            copyStyles(searchButton, resetButton);
        }
    },
        { once: true }
    );

</script>
