<div>
    <div style="display:inline-block;vertical-align:top;margin-left:20px;">
        <h4>Example Job Layout:</h4>
        <div style="width: 200px;display:inline-block;">
            <dl class="cbResultSetPanelDataContainer clearfix status-bgColor2" data-cb-name="DataCtnr"
                style="position: relative; border-radius: 2px 0px 0px 2px; margin: 5px 36px 5px 0px; padding: 3px 5px 3px 7px;border-style: solid; border-width: 0px 0px 0px 12px; border-color: [@app:color_pink];">
                <dd class="cbResultSetData" data-cb-kwn="true" style="margin-inline-start: 0;"><span
                        style="font-weight: bold; color:[@app:color_purple_dark];">TYPE</span>
                    <div
                        style="float:right;background-color:white;border-radius:3px;font-size:smaller;padding:0px 3px 0px 3px;">
                        <span style="color:[@app:color_purple_dark]"><b>Order ID</b></span>
                    </div>
                    <br class="clear">
                    Job Description&nbsp;
                    <br><span style="font-size: smaller; white-space: nowrap;">Date in</span>
                    <span class="qtyText">
                        Quantity
                    </span>
                </dd>
                <dd class="cbResultSetData" style="margin-inline-start: 0;">
                    <div id="example0" class="hidden">Yes</div>
                    <div id="example1" class="hidden">4</div>
                    <div id="example2" class="hidden">2</div>
                    <div id="example3" class="hidden">4</div>
                </dd>
                <div class="status-art status-borderColor4"></div>
                <div class="status-garment status-borderColor2"></div>
                <div class="status-po status-borderColor4"></div>
            </dl>
        </div>
    </div>
    <div style="display: inline-block;white-space:nowrap;vertical-align:top;margin-left:20px;">
        <h4>Key to Layout:</h4>
        <div>
            <div
                style="display: inline-block; position: relative; border-radius: 2px; margin-top: 5px; text-align: center; padding: 3px 5px;color:white;background-color: [@app:color_pink];font-weight: bold;">
                <br />E<br />V<br />E<br />N<br />T<br /><br /><br />
            </div>
            <div
                style="display: inline-block; position: relative; border-radius: 2px; margin-top: 5px; text-align: center; padding: 3px 5px;background-color: [@app:color_light_2_gold];">
                <br />Background<br />color<br />represents<br />the least ready<br />status of<br />the Job<br /><br />
            </div>
            <div
                style="display: inline-block; position: relative; border-radius: 2px; margin-top: 5px; text-align: center; padding: 3px 5px;background-color: [@app:color_4_green];font-weight:bold;">
                P<br />O<br /><br />D<br />A<br />T<br />A<br /><br />
            </div>
            <div
                style="display: inline-block; position: relative; border-radius: 2px; margin-top: 5px; text-align: center; padding: 3px 5px;background-color: [@app:color_2_gold];font-weight:bold;">
                G<br />A<br />R<br />M<br />E<br />N<br />T<br />S
            </div>
            <div
                style="display: inline-block; position: relative; border-radius: 2px; margin-top: 5px; text-align: center; padding: 3px 5px;background-color: [@app:color_4_green];font-weight:bold;">
                A<br />R<br />T<br />W<br />O<br />R<br />K<br /><br />
            </div>
        </div>
    </div>
    <div style="display:inline-block;vertical-align:top;margin-left:20px;">
        <h4 style="margin-bottom: 5px;">Key to Status Color Coding:</h4>
        <div
            style="display: inline-block; padding: 6px 10px; border-radius:5px; background-color:[@app:color_0_red];margin-right: 10px;">
        </div>
        Missing PO, Garments, or Artwork<br />
        <div
            style="display: inline-block; padding: 6px 10px; border-radius:5px; background-color:[@app:color_1_orange];margin-right: 10px;">
        </div>
        Artwork Provided<br />
        <div
            style="display: inline-block; padding: 6px 10px; border-radius:5px; background-color:[@app:color_2_gold];margin-right: 10px;">
        </div>
        Partial PO or Garments, Artwork Proofed<br />
        <div
            style="display: inline-block; padding: 6px 10px; border-radius:5px; background-color:[@app:color_3_yellow];margin-right: 10px;">
        </div>
        Artwork Approved<br />
        <div
            style="display: inline-block; padding: 6px 10px; border-radius:5px; background-color:[@app:color_4_green];margin-right: 10px;">
        </div>
        Open Job: Ready<br />
        <div
            style="display: inline-block; padding: 6px 10px; border-radius:5px; background-color:[@app:color_blue];margin-right: 10px;">
        </div>
        Completed Job<br />
        <div
            style="display: inline-block; padding: 6px 10px; border-radius:5px; background-color:[@app:color_purple_medium];margin-right: 10px;">
        </div>
        Invoiced Job<br />
        <div
            style="display: inline-block; padding: 6px 10px; border-radius:5px; background-color:[@app:color_5_grey];margin-right: 10px;">
        </div>
        Canceled or On Hold<br />
    </div>
</div>