<strong>Order ID</strong>: <a href="[@field:tblWorkOrder_search_cust_URL]">[@field:tblProof_workOrder_id]</a><br />
<strong>Cust PO</strong>: [@field:tblProof_po]<br />
<strong>Desc</strong>: [@field:tblProof_proof_description]<br />
<br />
<a class="linkButton" href="[@field:tblProof_cust_detail_URL]">Visit Proof</a>