<h2>Submit New Order</h2>
<!--<a href="#orderSearch"><p style="color: [@app:color_0_red] !important; font-weight: bold;"><em>Please check the existing orders first <br />
to avoid mistaken duplication of open orders.</em></p></a>-->

<div class="alert alert-warning" role="alert">
    Examples of good order names:<br /><br />
    <p>Danbury HS Girls Lacrosse Team Store (Navy Poly Shorts)</p>
    <p>ACME Widgets - Summer Outing 2021 (Cotton Tees - Various Colors)</p>
    <p>Trenton Rec Youth Baseball Winter Clinic 2022 (Red Hooded Sweatshirts)</p>
</div>