<div id="proofStatus-[@field:tblProof_proof_id]" class="statusStyling">[@field:Status_Proof_status_for_customer]</div>

<script>

document.addEventListener('DataPageReady', function(event) {

    // Add the proof status
    switch ('[@field:tblProof_proofStatus]') {
      case '2':
        $('#proofStatus-[@field:tblProof_proof_id]').addClass('status2');
        $('#proofStatus-[@field:tblProof_proof_id]').text('Needs Feedback');
        if ('[@field:tblProof_approvable]' == 'Yes') {
          $('#proofStatus-[@field:tblProof_proof_id]').removeClass('status2');
          $('#proofStatus-[@field:tblProof_proof_id]').addClass('status2-approvable');
          $('#proofStatus-[@field:tblProof_proof_id]').text('Awaiting Approval');
        }
        break;
      case '0':
        $('#proofStatus-[@field:tblProof_proof_id]').addClass('status0');
        if ('[@field:tblProof_info_only]' == 'Yes') {
          $('#proofStatus-[@field:tblProof_proof_id]').text('Information Only');
        }
        break;
      case '1':
        $('#proofStatus-[@field:tblProof_proof_id]').addClass('status1');
        break;
      case '3':
        $('#proofStatus-[@field:tblProof_proof_id]').addClass('status3');
        break;
      case '4':
        $('#proofStatus-[@field:tblProof_proof_id]').addClass('status4');
        break;
      case '5':
        $('#proofStatus-[@field:tblProof_proof_id]').addClass('status5');
        break;
      case '6':
        $('#proofStatus-[@field:tblProof_proof_id]').addClass('status6');
    }

  });

</script>