<style type="text/css">
    .float-right {
        float: right;
    }

    /* The Modal style is set in the Caspio Theme Source file, as is the style for .hidden and #deleteID:hover */

    /* The next few declarations are from this article: https://css-tricks.com/multi-line-truncation-with-pure-css/ */
    :root {
    /* Not my favorite that line-height has to be united, but needed */
    --lh: 1.25rem;
    }

    .truncate-overflow {
        --max-lines: 10;
        position: relative;
        max-height: calc(var(--lh) * var(--max-lines));
        overflow: hidden;
        padding-right: 1rem; /* space for ellipsis */
    }
    .truncate-overflow::before {
        position: absolute;
        content: "...";
        /* tempting... but shows when lines == content */
        /* top: calc(var(--lh) * (var(--max-lines) - 1)); */
        
        /*
        inset-block-end: 0;
        inset-inline-end: 0;
        */
        bottom: 0;
        right: 0;
    }
    .truncate-overflow::after {
        content: "";
        position: absolute;
        /*
        inset-inline-end: 0;
        */
        right: 0;
        /* missing bottom on purpose*/
        width: 1rem;
        height: 1rem;
        padding-bottom: 1rem;
        background: white;
    }

    .active-message {
        min-width: 400px;
        max-width: 500px;
        white-space: pre-wrap;
        /* margin-left: 20px; */
        margin-top: 20px;
        border-left: 40px solid #E4F0F8;
        border-radius: 10px;
        padding: 2px 0px 2px 15px;
        font-style: italic;
        font-weight: normal;
        line-height: var(--lh);
    }

    .status0,
    .status1 {
        color: #777777;
        background-color: [@app:color_3_yellow];
    }

    .status2 {
        color: white;
        background-color: [@app:color_0_red];
    }

    .status2-approvable {
        color: white;
        background-color: [@app:color_1_orange];
    }

    .status3 {
        color: white;
        background-color: [@app:color_4_green];
    }

    .status4,
    .status5,
    .status6 {
        color: white;
        background-color: [@app:color_5_grey];
    }

    .statusStyling {
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        vertical-align: middle;
        font-size: larger;
        padding: 0px 10px 0px 10px;
        border-radius: 8px;
        margin-left: 5px;
        box-sizing: unset;
    }

    #approveID {
        border-color: [@app:color_4_green];
        background-color: [@app:color_light_4_green];
        text-transform: uppercase;
        border-radius: 5px;
        font-size: 1.5em;
        border-width: 4px;
        margin-top: 10px;
        display: none;
    }

    #approveID:hover {
        border-color: [@app:color_purple_dark];
        background-color: [@app:color_4_green];
    }

    #newMessageID {
        border-color: [@app:color_0_red];
        background-color: [@app:color_light_0_red];
        text-transform: uppercase;
        border-radius: 5px;
        font-size: 1.5em;
        border-width: 4px;
        margin-top: 10px;
    }

    #newMessageID:hover {
        border-color: [@app:color_purple_dark];
        background-color: [@app:color_0_red];
    }
    #newMessage-warning-status2, #newMessage-warning-status3 {
        line-height: 1.5em;
        display: none;
    }
    
    .orderID {
        color: [@app: color_0_red];
        font-weight: bold;
        font-size: 2rem;
        font-family: Verdana;
        line-height: 1em;
    }
</style>

<div class="alert alert-danger" role="alert" style="margin: 0 auto 20px auto; max-width: 800px;">
  This page has been deprecated. Please <a href="[@field:tblWorkOrder_cust_order_detail_URL]&InsertRecordproof_key=[@field:tblProof_proof_key]&[@app:clearParams_customer]">Visit the New Order Page</a>
</div>