<div id="proof-[@field:tblProof_proof_id]"></div>

<script>

  document.addEventListener('DataPageReady', function (event) {
    if (event.detail.appKey == '1dae6000d1784dafda974737a187') {

      // Show the File if it exists. 
      // function displayFileResp(containerDivId, fileName_field, s3URL_field, width, height, classname) is defined in the Navigation Menu datapage.
      // Classname is optional, and will be given the default value of 'display-file' if not specified.

      displayFileResp('proof-[@field:tblProof_proof_id]', '[@field:tblArtFile_artFile_filename/]', '[@field:tblArtFile_artFile_URL]', 470, 530);

      $('#proofPreview').append($('#proof-[@field:tblProof_proof_id]'));
    }

  });


</script>