<div id="jobThumb" class="float-right pt-5"></div>
Art Log Number: &nbsp;&nbsp;&nbsp;&nbsp;<a href="[@calcfield:1]">[@calcfield:2]</a>

<script>

    document.addEventListener('DataPageReady', function (event) {
        if (event.detail.appKey == '1dae60000e94079a1baf41f4914e') {
            //get the unique id for DOM element
	        var elementID = event.detail.uniqueSuffix;

            // Hide the update button - customers don't need to see that, even though it doesn't do anything
            $('#Mod0EditRecord' + elementID).css('display','none');

            // Move the thumbnail div
            $($('.orderNumber').closest('form')).prepend($('#jobThumb'));
            $('#jobThumb').empty();

            // Show the thumbnail if the job has an art log number

            // Show the File if it exists. 
            // function displayFileResp(containerDivId, fileName_field, s3URL_field, width, height, classname) is defined in the Navigation Menu datapage.
            // Classname is optional, and will be given the default value of 'display-file' if not specified.

            displayFileResp('jobThumb', '[@field:tblArtFile_artFile_filename/]', '[@field:tblArtFile_artFile_URL]', 310, 400, 'thumb');

            if ('[@calcfield:3]') {
                $('#proof_link[@field:tblJob_jobID]').css("display","inline-block");
            }
        }

    });

</script>