<a href="[@field:tblWorkOrder_cust_order_details_URL]&[@app:clearParams_customer]" class="wo-label">[@field:tblWorkOrder_workOrder_id]</a>
<div class="hidden" id='event_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]'>[@field:tblWorkOrder_woEvent]</div>
<h3 id='eventLabel_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]' class="hidden">Event</h3>

<script type="text/javascript">
    //event
    var eventStatus = document.getElementById('event_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]');
    var eventLabel = document.getElementById('eventLabel_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]');

    if (eventStatus.innerHTML == "Yes") {
        eventLabel.className = "event";

    }
</script>