<div id="messageFileLink-[@field:Messages_messages_id]"></div>

<script>

    document.addEventListener('DataPageReady', function (event) {
        if (event.detail.appKey == '1dae6000c840a30efdcc41a286b7') {

            var artFile_file = '[@field:tblArtFile_artFile_filename]' ? 'https://cdn.caspio.com/1DAE6000[@calcfield:1]' : '[@field:tblArtFile_artFile_filename]'
            var artFile_URL = '[@field:tblArtFile_artFile_URL]' ? 'https://[@field:tblArtFile_artFile_URL]' : '[@field:tblArtFile_artFile_URL]';
            var custFile_file = '[@field:tblCustFile_custFile_filename]' ? 'https://cdn.caspio.com/1DAE6000[@calcfield:2]' : '[@field:tblCustFile_custFile_filename]'
            var custFile_URL = '[@field:tblCustFile_custFile_URL]' ? 'https://[@field:tblCustFile_custFile_URL]' : '[@field:tblCustFile_custFile_URL]';

            var fileURL = (artFile_file + custFile_file) ? (artFile_file + custFile_file) : (artFile_URL + custFile_URL);
            var fileName = '[@field:tblArtFile_artFile_filename][@field:tblCustFile_custFile_filename]' ? '[@field:tblArtFile_artFile_filename][@field:tblCustFile_custFile_filename]' : '[@field:tblArtFile_artFile_URL][@field:tblCustFile_custFile_URL]'

            if (('[@field:tblMessages_file_attached]' == 'Yes') && fileURL) {

                $('#messageFileLink-[@field:Messages_messages_id]').append("<p><a href='" + fileURL.replace(/\+/g,"%2B") + "' download target='_blank'>" + fileName.replace(/.*\/+(?!\/)/, '') + "</a></p>");
            }

            let list_string, arr, arrLen, list_text, j;

            if ("[@calcfield:5]") {
                list_string = "[@calcfield:5]"; //field where you store delimited string

                arr = list_string.split('###');
                arrLen = arr.length;

                list_text = "";
                for (j = 0; j < arrLen; j = j + 4) {
                    if (!('[@field:Messages_messages_artFile_id][@field:tblMessages_custFile_id]') || ((arr[j] !== '[@field:Messages_messages_artFile_id]') && (arr[j] !== '[@field:tblMessages_custFile_id]'))) {
                        if (arr[j + 1]) {
                            list_text += "<p><a href='https://" + arr[j + 3].replace(/\+/g,"%2B") + "' download target='_blank'>" + arr[j + 1].replace(/.*\/+(?!\/)/, '') + "</a></p>";
                        } else {
                            list_text += "<p><a href='https://" + arr[j + 2].replace(/\+/g,"%2B") + "' download target='_blank'>" + arr[j + 2].replace(/.*\/+(?!\/)/, '') + "</a></p>";
                        }
                    }
                }

                $('#messageFileLink-[@field:Messages_messages_id]').append(list_text);
            }

        }

    });

</script>