<h2>Order Change Request</h2>

<div class="alert alert-warning" role="alert">
    <p>We will review your changes and will update the order if accepted.<br />
    We reserve the right to reject any changes you submit.</p>
    <p><em><b>If the Proof is Finalized, we strongly encourage you to call us to confirm.</b></em></p>
    <p>We may decorate your items earlier than your Requested Production Date.</p>
</div>