<a href="[@calcfield:2]" class="nowrap">[@calcfield:3]</a>
<br /><br />
<div id="jobThumb-[@field:tblJob_jobID]"></div>

<script>

  document.addEventListener('DataPageReady', function (event) {
    if (event.detail.appKey == '1dae60000e94079a1baf41f4914e') {

      // Show the File if it exists. 
      // function displayFileResp(containerDivId, fileName_field, s3URL_field, width, height, classname) is defined in the Navigation Menu datapage.
      // Classname is optional, and will be given the default value of 'display-file' if not specified.

      displayFileResp('jobThumb-[@field:tblJob_jobID]', '[@field:tblArtFile_artFile_filename/]', '[@field:tblArtFile_artFile_URL]', 90, 90, 'thumbnail');
    }

  });

</script>