<span id="needDate_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]">[@field:tblWorkOrder_woDateNeeded*]</span>

<script type="text/javascript">
var needDateLong = new Date('[@field:tblWorkOrder_woDateNeeded]');
var needDate = new Date(needDateLong.getFullYear(),needDateLong.getMonth(),needDateLong.getDate());
var nowDateLong = new Date();
var nowDate = new Date(nowDateLong.getFullYear(),nowDateLong.getMonth(),nowDateLong.getDate());

if (needDate < nowDate && [@field:tblWorkOrder_woStatus#] < 2) {
    $('#needDate_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]').addClass('afterNeedDate');
}
</script>