<div id="production_status_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]" name="wo[@field:tblWorkOrder_workOrder_id]_proof[@field:tblProof_proof_key]" style="white-space: nowrap;">
    <div id="po_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]" data-bs-toggle="modal" data-bs-target="#cb-modal"></div>
    <div id="garment_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]" data-bs-toggle="modal" data-bs-target="#cb-modal"></div>
    <div id="art_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]" data-bs-toggle="modal" data-bs-target="#cb-modal"></div>

    <div id="woStatus_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]" data-bs-toggle="modal" data-bs-target="#cb-modal" class="orderStatusStyling orderStatus[@field:tblWorkOrder_woCustWoStatus]">[@field:Status_Order_status_desc]</div>
</div>

<script>
    // When the Production Status div is clicked, change the styling and text of the modal key that will be toggled
    document.getElementById("production_status_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]").addEventListener("click", function(){ 
        document.getElementById("key_poData").setAttribute("class","statusStyling key-poData-[@field:tblWorkOrder_woOrderDataStatus]");
        document.getElementById("key_poData").innerHTML = "[@field:Status_OrderData_orderDataStatusDesc]"; 
        document.getElementById("key_garments").setAttribute("class","statusStyling key-garments-[@field:tblWorkOrder_woGarmentStatus]");
        document.getElementById("key_garments").innerHTML = "[@field:Status_Garment_garmentStatusDesc]"; 
        document.getElementById("key_artwork").setAttribute("class","statusStyling key-artwork-[@field:tblWorkOrder_woArtStatus]");
        document.getElementById("key_artwork").innerHTML = "[@field:Status_Art_artStatusDesc]"; 
        document.getElementById("key_orderStatus").setAttribute("class","statusStyling key-order-[@field:tblWorkOrder_woCustWoStatus]");
        document.getElementById("key_orderStatus").innerHTML = "[@field:Status_Order_status_desc]"; 
        document.getElementById("cb-modal-title").innerHTML = "Production Status for <a href='[@field:tblWorkOrder_cust_order_details_URL]&InsertRecordproof_key=[@field:tblProof_proof_key]&[@app:clearParams_customer]' style='color: [@app:color_0_red];text-decoration:none;'>[@field:tblWorkOrder_workOrder_id]</a> [@field:tblWorkOrder_woDescription]";
        
    });
    

    document.addEventListener('DataPageReady', function (event) {
        // This function will hide any duplicate rows for work orders with multiple jobs.
        var i_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID];
        for (i_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID] = 1; i_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]< $('[name="wo[@field:tblWorkOrder_workOrder_id]_proof[@field:tblProof_proof_key]"]').length; i_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]++) {
            $($('[name="wo[@field:tblWorkOrder_workOrder_id]_proof[@field:tblProof_proof_key]"]')[i_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]]).closest('tr').css("display", "none");
        }

        if('[@field:tblWorkOrder_woCustWoStatus]' !== '') {
            // Set values for div#production_status
            var poStatus = document.getElementById("po_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]");
            var garmentStatus = document.getElementById("garment_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]");
            var artStatus = document.getElementById("art_[@field:tblProof_proof_key][@field:tblWorkOrder_workOrder_id][@field:tblJob_jobID]");

            switch([@field:tblWorkOrder_woCustWoStatus]) {
                case 2:
                    poStatus.setAttribute("class", "status-po status-bgColor7");
                    garmentStatus.setAttribute("class", "status-garment status-bgColor7");
                    artStatus.setAttribute("class", "status-art status-bgColor7");
                    break;
                case 3:
                    poStatus.setAttribute("class", "status-po status-bgColor8");
                    garmentStatus.setAttribute("class", "status-garment status-bgColor8");
                    artStatus.setAttribute("class", "status-art status-bgColor8");
                    break;
                case 4:
                    poStatus.setAttribute("class", "status-po status-bgColor5");
                    garmentStatus.setAttribute("class", "status-garment status-bgColor5");
                    artStatus.setAttribute("class", "status-art status-bgColor5");
                    break;
                default:
                    poStatus.setAttribute("class", "status-po status-bgColor[@field:tblWorkOrder_woOrderDataStatus]");
                    garmentStatus.setAttribute("class", "status-garment status-bgColor[@field:tblWorkOrder_woGarmentStatus]");
                    artStatus.setAttribute("class", "status-art status-bgColor[@field:tblWorkOrder_woArtStatus]");
            }
        }

    });

</script>