<div id="version-[@field:tblThumbnail_thumb_id]"></div>

<script>

  document.addEventListener('DataPageReady', function (event) {
    if (event.detail.appKey == '1dae6000cde8efd9bdb64eab8be3') {

        // Show the File if it exists. 
        // function displayFile(containerDivId, fileName_field, s3URL_field, width, height, classname) is defined in the Navigation Menu datapage.
        // Classname is optional, and will be given the default value of 'display-file' if not specified.

        displayFile('version-[@field:tblThumbnail_thumb_id]', '[@field:tblArtFile_artFile_filename/]', '[@field:tblArtFile_artFile_URL]', 100, 100, 'thumbnail');
    }

  });

</script>