<h1 id="messageSubject" class="hidden">: [@field:tblMessages_messages_subject]</h1>

<h2>Message</h2>

<script type="text/javascript">

    document.addEventListener('DataPageReady', function (event) {
        var headerText = $('#newMessageHeader').text();
        var messageSubjectText = $('#messageSubject').text();

        headerText += messageSubjectText;
        $('#newMessageHeader').text(headerText);
    });
</script>