<style type="text/css">
    /* The Modal style is set in the Caspio Theme Source file, as is the style for .hidden */

    .wo-label {
        color: [@app: color_purple_dark];
        font-weight: bold !important;
    }

    .jobStatus0 {
        color: white;
        background-color: [@app: color_4_green];
    }

    .jobStatus1 {
        color: #777777;
        background-color: [@app: color_3_yellow];
    }

    .jobStatus2 {
        color: white;
        background-color: [@app: color_blue];
    }

    .jobStatus3 {
        color: white;
        background-color: [@app: color_purple_dark];
    }

    .jobStatus4 {
        color: white;
        background-color: [@app: color_5_grey];
    }

    .jobStatusStyling {
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        vertical-align: middle;
        font-size: larger;
        padding: 5px 10px 5px 10px;
        border-radius: 8px;
        margin: auto;
        /*width: 100px;*/
        box-sizing: unset;
    }

    .cbResultSetActionsLinks {
        white-space: nowrap;
    }
</style>

<h2>Jobs</h2>