<script>

    document.addEventListener('DataPageReady', function (event) {
        if (event.detail.appKey == '1dae6000c90d412bbf904da894fb') {

            $('[title="Edit"]').eq(2).html('<strong><em>MAKE ACTIVE (Important: only select one message!)</em></strong> Once you click this link, check both boxes and click Update in the popup window');

            // Hide the calculated field columns
            $('div.col-12 table[data-cb-name="cbTable"] th:nth-of-type(6)').css('display', 'none');
            $('div.col-12 table[data-cb-name="cbTable"] td:nth-of-type(6)').css('display', 'none');
            $('div.col-12 table[data-cb-name="cbTable"] th:nth-of-type(7)').css('display', 'none');
            $('div.col-12 table[data-cb-name="cbTable"] td:nth-of-type(7)').css('display', 'none');
            $('div.col-12 table[data-cb-name="cbTable"] th:nth-of-type(8)').css('display', 'none');
            $('div.col-12 table[data-cb-name="cbTable"] td:nth-of-type(8)').css('display', 'none');
            $('div.col-12 table[data-cb-name="cbTable"] th:nth-of-type(9)').css('display', 'none');
            $('div.col-12 table[data-cb-name="cbTable"] td:nth-of-type(9)').css('display', 'none');
            $('div.col-12 table[data-cb-name="cbTable"] th:nth-of-type(10)').css('display', 'none');
            $('div.col-12 table[data-cb-name="cbTable"] td:nth-of-type(10)').css('display', 'none');

        }

    });

</script>