<button id="newJobID" class="cbButton" type="button"
  onclick="checkStatusBilled([@field:tblWorkOrder_woStatus#], function(){window.location.assign('[@field:tblWorkOrder_new_job_URL]');}, 'Order');">New Job</button>

<button id="newProofID" class="cbButton" type="button"
  onclick="checkStatusBilled([@field:tblWorkOrder_woStatus#], function(){window.location.assign('[@field:tblWorkOrder_new_proof_URL]');}, 'Order');">New Proof</button>

<button id="newStampID" class="cbButton" type="button"
  onclick="window.location.assign('[@field:tblWorkOrder_visit_stamp_URL]');">View
  Stamp Sheet</button>

<button id="visitGarmentsID" class="cbButton" type="button"
        onclick="window.location.assign('[@app:relativeURL_garmentsByOrderID][@field:tblWorkOrder_workOrder_id]')">Visit Garments</button>