<div id="proof-[@field:tblProof_proof_id]"></div>
<div class="no-print">
    <br />
    <button id="visitProofID" class="cbButton" type="button"
        onclick="window.location.assign('[@field:tblProof_edit_URL]')">Visit Proof</button>
    <br /><br />
    <div class="proof-message">[@field:tblProof_active_message_notes!]</div>
    <br />
</div>

<script>

    document.addEventListener('DataPageReady', function (event) {
        if (event.detail.appKey == '1dae600090d40aff825740919fd3') {

            // Show the Proof if it exists. 
            // function displayFileResp(containerDivId, fileName_field, s3URL_field, width, height, classname) is defined in the Navigation Menu datapage.
            // Classname is optional, and will be given the default value of 'display-file' if not specified.

            displayFileResp('proof-[@field:tblProof_proof_id]', '[@field:tblArtFile_artFile_filename/]', '[@field:tblArtFile_artFile_URL]', 310, 400, 'thumb');
        }

    });


</script>