<h1 class="no-print">Job Details</h1>

<script>

    document.addEventListener('DataPageReady', function (event) {

        // Fill in the Order ID and Status Header div
        if ($('#jobIDstatusHeader').html() == ""){
            $('#jobIDstatusHeader').html('<span class="jobNumber">[@field:tblJob_jobNumber]</span><br /><span id="jobStatus-[@field:tblJob_jobID]" class="jobStatusStyling jobStatus[@field:tblJob_jobStatus]">[@field:Status_Order_status_desc]</span><br class="clearfix" /><br /><br /><h1>[@field:tblJob_jobDescription]</h1><p style="margin-top: 5px;"><span style="font-weight: 700; text-transform: uppercase;">[@field:lookup_type_job_type_desc]</span></p>');
        };

        // Fill in the Order Details Header div
        if ($('#orderDetailsHeader').html() == ""){
            $('#orderDetailsHeader').html('<h3>[@field:tblJob_workOrderID] Order Details</h3><p style="font-size: small; max-width: 300px; margin-top: 5px;">Company: <span style="font-weight: 700;">[@field:tblCustomer_custName]</span><br />Contact: <span style="font-weight: 700;">[@field:tblWorkOrder_woContact]</span><br />Description: <span style="font-weight: 700;">[@field:tblWorkOrder_woDescription]</span><br />PO Number: <span style="font-weight: 700;">[@field:tblWorkOrder_woCustPONum]</span><br />Date In: <span style="font-weight: 700;">[@field:tblWorkOrder_woDateIn*]</span><br />Date Needed: <span style="font-weight: 700;">[@field:tblWorkOrder_woDateNeeded*]</span></p>');
        };
    });

// Show the thumbnail if the job has an art log number

        // Show the File if it exists. 
        // function displayFile(containerDivId, fileName_field, s3URL_field, width, height, classname) is defined in the Navigation Menu datapage.
        // Classname is optional, and will be given the default value of 'display-file' if not specified.

        displayFileResp('jobThumb', '[@field:tblArtFile_artFile_filename/]', '[@field:tblArtFile_artFile_URL]', 300, 300);

</script>