<h1>Job Details</h1>

<script type="text/javascript">
    document.addEventListener('DataPageReady', function (event) {
        if (event.detail.appKey == '1dae6000e9f83ebc1db9491890b0') {

            // Job Details Header fields
            $('#jobNumber').html('[@field:jobNumber]');
            $('#jobStatus').html('[@calcfield:1]');
            $('#jobStatus').addClass('jobStatus[@field:jobStatus]');
            $('#jobDescription').html('[@field:jobDescription]');
            $('#jobType').html('[@calcfield:2]');

            // Order Details fields
            $('#orderDetailsHeader').html('[@field:workOrderID] Order Details');
            $('#orderDetailsCust').html('[@calcfield:3]');
            $('#orderDetailsContact').html('[@calcfield:4]');
            $('#orderDetailsDesc').html('[@calcfield:5]');
            $('#orderDetailsPO').html('[@calcfield:6]');
            $('#orderDetailsDateIn').html('[@calcfield:7*]');
            $('#orderDetailsDateNeeded').html('[@calcfield:8*]');
            $('#visitOrderID').click(function () { window.location.assign('[@calcfield:12]'); });
            $('#visitOrderID').html('Visit Order [@field:workOrderID]');
            if ('[@field:jobStatus]' == '2' && ('[@authfield:tblUser_userAccess]' == 'admin' || '[@authfield:tblUser_userAccess]' == 'developer')) {
                $('#visitInvoiceID').click(function () { window.location.assign('[@app:relativeURL_InvoiceCompleted]'); });
                $('#visitInvoiceID').css('display', 'inline-block');
            }

            // SP Job Data fields
            if ($('#jobData-SP')) {
                $('#jobDataSP_printNotes').html('[@field:tblJob_prodNotes]');
                $('#jobDataSP_paletteSize').html('[@field:tblJob_paletteSize]');
                $('#jobDataSP_dryerTemp').html('[@field:tblJob_dryerTemp]');
                $('#jobDataSP_dryerSpeed').html('[@field:tblJob_dryerSpeed]');
                $('#jobDataSP_offContact').html('[@field:tblJob_offContact]');
                $('#jobDataSP_dwellTime').html('[@field:tblJob_dwellTime]');
            }

            // EMB Job Data fields
            if ($('#jobData-EMB')) {
                $('#jobDataEMB_embNotes').html(('[@field:tblJob_prodNotes]').trim());
                $('#jobDataEMB_twill_01').html('[@field:tblJob_twill_01]');
                $('#jobDataEMB_twill_02').html('[@field:tblJob_twill_02]');
                $('#jobDataEMB_twill_03').html('[@field:tblJob_twill_03]');
            }

            // Show the thumbnail if the job has an art log number

            // Show the File if it exists. 
            // function displayFileResp(containerDivId, fileName_field, s3URL_field, width, height, classname) is defined in the Navigation Menu datapage.
            // Classname is optional, and will be given the default value of 'display-file' if not specified.

            displayFileResp('jobThumb', '[@field:tblArtFile_artFile_filename/]', '[@field:tblArtFile_artFile_URL]', 300, 300);
        }

    });
</script>