<a href="[@field:tblJob_edit_prodData_URL]" class="job-label">[@field:tblJob_jobNumber]</a>
<div id="event_[@field:tblJob_jobID]" class="event" style="display: none;">[@field:tblWorkOrder_woEvent]</div>

<script type="text/javascript">
   document.addEventListener('DataPageReady', function (event) {
        $('div.event:contains("Yes")').css('display','block');
        $('div.event:contains("Yes")').text('');
    });
</script>