<div class="statusLabelContainer">
    <h3>Order Data</h3>
    <div id="orderDataStatus_[@field:WorkOrder]" class="statusStyling status[@field:Status_OrderData_orderDataStatusCode]">[@field:Status_OrderData_orderDataStatusDesc]
    </div>
</div>

<div class="statusLabelContainer">
    <h3>Garments</h3>
    <div id="garmentStatus_[@field:WorkOrder]" class="statusStyling status[@field:Status_Garment_garmentStatusCode]">[@field:Status_Garment_garmentStatusDesc]
    </div>
</div>

<div class="statusLabelContainer">
    <h3>Artwork</h3>
    <div id="artStatus_[@field:WorkOrder]" class="statusStyling status[@field:Status_Art_artStatusCode]">[@field:Status_Art_artStatusDesc]
    </div>
</div>
<br class="clear" />
<br />
<br />