<div id="artFile-preview"></div>

<script>

   document.addEventListener('DataPageReady', function (event) {

      if ('[@field:artFile_filename]' != '') {
         if ($('#artFile-preview').children().length == 0) {
            $('#artFile-preview').append("<img id='artFile-img' src='[@field:artFile_filename/]' class='thumbnail' />");
            $('#artFile-img').attr('onclick', "window.open('[@field:artFile_filename/]', '_blank');");
            $('#artFile-img').css('cursor', 'pointer');
         }
      }
      else if ('[@field:artFile_URL]' != '') {
         if ($('#artFile-preview').children().length == 0) {
            $('#artFile-preview').append("<img id='artFile-img' src='https://[@field:artFile_URL]' class='thumbnail' />");
            $('#artFile-img').attr('onclick', "window.open('https://[@field:artFile_URL]', '_blank');");
            $('#artFile-img').css('cursor', 'pointer');
         }
      } else { }

      $('input[name="Submit"]').val('Upload');

   });

</script>