<table>
    <tbody>
        <tr>
            <td colspan="2" class="cbHTMLBlockContainer">
                <h4>Names Data</h4>
            </td>
        </tr>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Collection</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:names_collection]</small>
            </td>
        </tr>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Material</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:names_material]</small>
            </td>
        </tr>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Format</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:names_format]</small>
            </td>
        </tr>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Font</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:names_font]</small>
            </td>
        </tr>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Height</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:names_height]</small><small> inches</small>
            </td>
        </tr>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Max Width</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:names_maxWidth]</small><small> inches</small>
            </td>
        </tr>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Color</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:names_color]</small>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr width="100%" />
            </td>
        </tr>
        <tr>
            <td colspan="2" class="cbHTMLBlockContainer">
                <h4>Numbers Data</h4>
            </td>
        </tr>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Collection</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:numbers_collection]</small>
            </td>
        </tr>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Material</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:numbers_material]</small>
            </td>
        </tr>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Font</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:numbers_font]</small>
            </td>
        </tr>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Height</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:numbers_height]</small><small> inches</small>
            </td>
        </tr>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Inside Color</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:numbers_insideColor]</small>
            </td>
        </tr>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Outside Color</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:numbers_outsideColor]</small>
            </td>
        </tr>
    </tbody>
</table>