<div id="artFile-[@field:artFile_id]"></div>

<script>

   document.addEventListener('DataPageReady', function (event) {

      if ('[@field:artFile_filename]' != '') {
         if ($('#artFile-[@field:artFile_id]').children().length == 0) {
            $('#artFile-[@field:artFile_id]').append("<h3>Uploaded File</h3><img id='[@field:artFile_id]' src='[@field:artFile_filename/]' class='thumbnail' />");
            $('#[@field:artFile_id]').attr('onclick', "window.open('[@field:artFile_filename/]', '_blank');");
            $('#[@field:artFile_id]').css('cursor', 'pointer');
         }
      }
      else if ('[@field:artFile_URL]' != '') {
         if ($('#artFile-[@field:artFile_id]').children().length == 0) {
            $('#artFile-[@field:artFile_id]').append("<h3>Uploaded File</h3><img id='[@field:artFile_id]' src='https://[@field:artFile_URL]' class='thumbnail' />");
            $('#[@field:artFile_id]').attr('onclick', "window.open('https://[@field:artFile_URL]', '_blank');");
            $('#[@field:artFile_id]').css('cursor', 'pointer');
         }
      } else { }

      //$('input[name="Mod0EditRecord"]').val('Upload');

   });

</script>