<script type="text/javascript">

    /*
    
    This function is defined in the html page for the Navigation Menu:
    
    function makeButton(idAsString, functionAsString, buttonText, typeAsString, referenceButton) 
    
    */

    document.addEventListener('DataPageReady', function (event) {

        // Get the reference node
        var submitButton = document.getElementsByName("Submit")[0];

        // make the button float left
        submitButton.style.cssFloat = "left";

        // Make the CANCEL button
        makeButton("cancelID", "window.history.back();", "Cancel", "button", submitButton);

        // Hide the Department row
        $('[name="cbParamVirtual1"]').closest('tr').css('display', 'none');

        // Hide the SetupReq row
        $('[name="InsertRecordsetupReq"]').closest('tr').css('display', 'none');

        // Force Art Log Number to be uppercase
        // First, force the text to always appear uppercase, regardless of what is entered:
        $('input[name="InsertRecordjobArtLogNum_noLetter"]').css('text-transform', 'uppercase');

        // Second, change the actual value of the input field.
        // Also remove any spaces or dashes, and remove any version letters at the end.
        $(document).on('blur', 'input[name="InsertRecordjobArtLogNum_noLetter"]', function () {
            $(this).val(function (_, val) {
               return val.toUpperCase().split(' ').join('').split('-').join('').replace(/\(.*/, '').replace(/[a-zA-Z]*$/, '');
            });
        });

        // Make the File Name (Art Log) calculated field be 300px wide (otherwise it will be set at the width of the longest word inside the file name)
        $('div.cbFormLabel:contains("File Name (Art Log)")').css('min-width','300px');

        // Make the Stitch Count (Art Log) calculated field be 150px wide
        $('div.cbFormLabel:contains("Stitch Count (Art Log)")').css('min-width','150px');

        // Add the required form field styling, to work with the javascript validation in the parent html page
            var label1 = $("label[for*='InsertRecordjobType']");
            var label2 = $("label[for*='InsertRecordmachine_group']");
            var label3 = $("label[for*='InsertRecordquantity']");

            var jobDept = document.getElementsByName("InsertRecordjobType")[0].value;

            var labels = [label1, label2, label3];

            // Required fields will be hidden by the datapage Rules if they aren't required.
            // (Don't require quantity if job department is ART. Only make machine_group required if the job department isn't ART, DTG, OTH, or PROD.)

            // Add the required asterisk for required fields
            $.each(labels, function (i, label) {

                var originalHTML = $(label).html();

                originalHTML += '<span class="cbFormRequiredMarker"><span class="cbFormRequiredMarker">*</span></span>';
                
                $(label).html(originalHTML);

            });

    });

    document.addEventListener('BeforeFormSubmit', function(event) {

        // If a user just hits enter after entering a value with spaces or dashes into the Art Log Number field,
        // this code will transform that value before submitting the form.
        $('input[name="InsertRecordjobArtLogNum_noLetter"]').val($('input[name="InsertRecordjobArtLogNum_noLetter"]').val().toUpperCase().split(' ').join('').split('-').join('').replace(/\(.*/, '').replace(/[a-zA-Z]*$/, ''));
    });

</script>
