<div id="[@field:tblJob_jobID]0" class="hidden">[@field:Event]</div>
<div id="[@field:tblJob_jobID]1" class="hidden">[@field:woWorkOrderStatus]</div>
<div id="[@field:tblJob_jobID]2" class="hidden">[@field:woGarmentStatus]</div>
<div id="[@field:tblJob_jobID]3" class="hidden">[@field:woArtStatus]</div>

<script type="text/javascript">

  var event_div_id = "[@field:tblJob_jobID]0";
  var event_div = document.getElementById(event_div_id)
  var job = event_div.parentNode.parentNode;

  var customerCode = job.childNodes[0];
  var eventText = event_div.innerText;

  //Set Styling for each job
  job.style.position = "relative";
  /*job.style.backgroundColor = "#FFFFFF";*/
  job.style.borderRadius = "2px 0px 0px 2px";
  job.style.margin = "5px 36px 5px 0px";
  job.style.padding = "3px 5px 3px 7px";

  // Set Clearfix class to each job, so the floated quantity will stay contained within the job
  var clearfixClass = "clearfix";
  arr = job.className.split(" ");
  if (arr.indexOf(clearfixClass) == -1) {
    job.className += " " + clearfixClass;
  }

  if (eventText == "Yes") {
    /*job.style.backgroundColor = "#FFCCEE";*/
    job.style.borderStyle = "solid";
    job.style.borderWidth = "0px 0px 0px 12px";
    job.style.borderColor = "[@app:color_pink]";
  }

  //Load the status values into the DOM as text values
  var poStatus_div_id = "[@field:tblJob_jobID]1";
  var poStatus_div = document.getElementById(poStatus_div_id);
  var poStatus = parseInt(poStatus_div.innerText);

  var garmentStatus_div_id = "[@field:tblJob_jobID]2";
  var garmentStatus_div = document.getElementById(garmentStatus_div_id);
  var garmentStatus = parseInt(garmentStatus_div.innerText);

  var artStatus_div_id = "[@field:tblJob_jobID]3";
  var artStatus_div = document.getElementById(artStatus_div_id);
  var artStatus = parseInt(artStatus_div.innerText);

  //Set the background color based on the overall status
  function getOverallStatus(po, garment, art) {
    if (Math.max(po, garment, art) > 4) {
      return 5;
    } else if (isNaN(po) || isNaN(garment) || isNaN(art)) {
      return 0;
    } else {
      return Math.min(po, garment, art);
    }
  };

  var overallStatus = getOverallStatus(poStatus, garmentStatus, artStatus);
  var overallStatusClass = "status-bgColor" + overallStatus.toString();
  job.classList.add(overallStatusClass);



  //Set the class of the border div's based on the Status integer

  var borderDivArtStatus = document.createElement("DIV");
  borderDivArtStatus.setAttribute("class", "status-art status-borderColor[@field:woArtStatus]");
  job.appendChild(borderDivArtStatus);

  var borderDivGarmentStatus = document.createElement("DIV");
  borderDivGarmentStatus.setAttribute("class", "status-garment status-borderColor[@field:woGarmentStatus]");
  job.appendChild(borderDivGarmentStatus);

  var borderDivPOStatus = document.createElement("DIV");
  borderDivPOStatus.setAttribute("class", "status-po status-borderColor[@field:woWorkOrderStatus]");
  job.appendChild(borderDivPOStatus);


  //Display only the Customer Code, the Job Description, and the borderDiv's. Everything else is display: none


  /*
    var jobChildren = job.childNodes;
    var i;
    for (i = 4; i < jobChildren.length - 4; i++) {
      jobChildren[i].style.display = "none";
    }
  */
</script>


<!--
-------------------------
From this thread:
https://forums.caspio.com/topic/4933-conditional-formatting-of-text-in-datapage-tabular-report/

<div id="[@field:WorkOrder]"></div>
<SCRIPT LANGUAGE="JavaScript">
/*
var line_id='[@field:WorkOrder]';
var line=document.getElementById(line_id).parentNode.parentNode;
var elems = line.getElementsByTagName("td");
for (var i=0, m=elems.length; i<m; i++) {
if (elems[i].innerHTML=="OK")  { elems[i].style.color="green";}
if (elems[i].innerHTML=="SH")  { elems[i].style.color="blue";}
if (elems[i].innerHTML=="PH")  { elems[i].style.color="red";}
}
*/
</SCRIPT>

-------------------------

From this thread:
https://www.tutorialspoint.com/How-to-calculate-the-difference-between-two-dates-in-JavaScript
/*
         var dateFirst = new Date("11/25/2017");
         var dateSecond = new Date("11/28/2017");

         // time difference
         var timeDiff = Math.abs(dateSecond.getTime() - dateFirst.getTime());

         // days difference
         var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));

         // difference
         alert(diffDays);
*/
-------------------------
Info on how to append divs underneath job divs, with different border properties:
From these websites:
https://css-tricks.com/snippets/css/multiple-borders/
https://www.w3schools.com/jsref/met_node_appendchild.asp
https://www.w3schools.com/jsref/met_element_setattribute.asp

-->