<table style="max-width: 550px;">
    <tbody>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Date Complete</h5>
            </td>
            <td class="cbHTMLBlockContainer">
                <span>[@field:jobDateComplete*]</span>
            </td>
        </tr>
        <tr class="art-hide dtg-hide p-hide">
            <td class="cbHTMLBlockContainer">
                <h5>Operator</h5>
            </td>
            <td class="cbHTMLBlockContainer">
                <span>[@field:operator]</span>
            </td>
        </tr>
        <tr class="art-hide dtg-hide o-hide p-hide">
            <td class="cbHTMLBlockContainer">
                <h5>Machine</h5>
            </td>
            <td class="cbHTMLBlockContainer">
                <span><strong>[@field:machine]</strong></span>
            </td>
        </tr>
        <tr class="art-hide dtg-hide o-hide p-hide">
            <td class="cbHTMLBlockContainer">
                <h5>Machine Group</h5>
            </td>
            <td class="cbHTMLBlockContainer">
                <span>[@field:machine_group]</span>
            </td>
        </tr>
        <tr class="dtg-collapse">
            <td class="cbHTMLBlockContainer">
                <h5>DTG Vendor</h5>
            </td>
            <td class="cbHTMLBlockContainer">
                <span>[@field:tblJob_dtg_vendor]</span>
            </td>
        </tr>
        <tr class="art-hide o-hide p-hide">
            <td class="cbHTMLBlockContainer">
                <h5>Re-Order?</h5>
            </td>
            <td class="cbHTMLBlockContainer">
                <span>[@field:jobReorder^]</span>
            </td>
        </tr>
        <tr class="emb-collapse">
            <td class="cbHTMLBlockContainer">
                <h5>Customer Supplied Tape?</h5>
            </td>
            <td class="cbHTMLBlockContainer empty-collapse">
                <span>[@field:custTape^]</span>
            </td>
        </tr>
        <tr class="emb-collapse">
            <td class="cbHTMLBlockContainer">
                <h5>Digitizing Required?</h5>
            </td>
            <td class="cbHTMLBlockContainer empty-collapse">
                <span>[@field:DIGITIZE_R^]</span>
            </td>
        </tr>
        <tr class="sp-collapse">
            <td colspan="2" class="cbHTMLBlockContainer">
                <h5>Colors:</h5><span>&nbsp;&nbsp;[@field:numColors]</span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h5>Screens:</h5><span>&nbsp;&nbsp;[@field:numScreens]</span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h5>Cycles:</h5><span>&nbsp;&nbsp;[@field:numCycles]</span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr width="100%" />
            </td>
        </tr>
        <tr class="art-hide o-hide p-hide">
            <td class="cbHTMLBlockContainer">
                <h5>Garment Type</h5>
            </td>
            <td class="cbHTMLBlockContainer">
                <span>[@field:garmentType]</span>
            </td>
        </tr>
        <tr class="art-hide o-hide p-hide">
            <td class="cbHTMLBlockContainer">
                <h5>Garment Notes</h5>
            </td>
            <td class="cbHTMLBlockContainer empty-collapse">
                <span>[@field:garmentNotes]</span>
            </td>
        </tr>
        <tr class="art-hide o-hide p-hide">
            <td class="cbHTMLBlockContainer">
                <h5>Decoration Location</h5>
            </td>
            <td class="cbHTMLBlockContainer">
                <span>[@field:imprintLocation]</span>
            </td>
        </tr>
        <tr class="art-hide">
            <td class="cbHTMLBlockContainer">
                <h5>Location Notes</h5>
            </td>
            <td class="cbHTMLBlockContainer empty-collapse">
                <span>[@field:locationNotes]</span>
            </td>
        </tr>
        <tr class="art-hide">
            <td class="cbHTMLBlockContainer">
                <h5>Miscellaneous Notes</h5>
            </td>
            <td class="cbHTMLBlockContainer empty-collapse">
                <span>[@field:jobNotes]</span>
            </td>
        </tr>
        <tr class="art-hide o-hide p-hide">
            <td colspan="2">
                <hr width="100%" />
            </td>
        </tr>
        <tr class="art-hide o-hide p-hide">
            <td class="cbHTMLBlockContainer">
                <h5>Art Log Number</h5>
            </td>
            <td class="cbHTMLBlockContainer">
                <span>
                    <a href="[@calcfield:13]">
                        [@field:jobArtLogNum_noLetter]
                    </a>
                </span>
            </td>
        </tr>
        <tr class="art-hide o-hide p-hide">
            <td class="cbHTMLBlockContainer">
                <h5>Version</h5>
            </td>
            <td class="cbHTMLBlockContainer">
                <span>[@field:jobArtworkVersion]</span>
            </td>
        </tr>
        <tr class="art-hide o-hide p-hide">
            <td class="cbHTMLBlockContainer">
                <h5>Version Notes</h5>
            </td>
            <td class="cbHTMLBlockContainer">
                <span>[@calcfield:11]</span>
            </td>
        </tr>
        <tr class="emb-collapse">
            <td class="cbHTMLBlockContainer">
                <h5>File Name</h5>
            </td>
            <td class="cbHTMLBlockContainer empty-collapse">
                <span>[@field:FILENAME]</span>
            </td>
        </tr>
        <tr class="emb-collapse">
            <td class="cbHTMLBlockContainer">
                <h5>Stitch Count</h5>
            </td>
            <td class="cbHTMLBlockContainer empty-collapse">
                <span>[@field:stitchCount_int]</span>
            </td>
        </tr>
    </tbody>
</table>