<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button  class="cbButton" id="saveID" type="submit">Save</button>

<button id="cancelOrderDetailsID" class="cbButton" type="button"
  onclick="document.location.reload(true);">Cancel</button>