<div id="proof-[@field:tblProof_proof_id]"></div>
<div id="messageNoteActive-[@field:tblProof_proof_id]" class="active-message" style="display: none;">
  Approved [@field:tblProof_dateApproved*] [@field:tblProof_dateApproved@]<br />
  by [@field:tblProof_approvedBy]
</div>

<script>

  document.addEventListener('DataPageReady', function (event) {
    if (event.detail.appKey == '1dae600024bfc62d274347acae6d') {

      // Show the File if it exists. 
      // function displayFileResp(containerDivId, fileName_field, s3URL_field, width, height, classname) is defined in the Navigation Menu datapage.
      // Classname is optional, and will be given the default value of 'display-file' if not specified.

      displayFileResp('proof-[@field:tblProof_proof_id]', '[@field:tblArtFile_artFile_filename/]', '[@field:tblArtFile_artFile_URL]', 470, 500);

      //$('#proof-[@field:tblProof_proof_id]').closest("td").attr("rowspan", "22");
      //$('#proof-[@field:tblProof_proof_id]').css("width", "530px");

      $('#proofPreview').append($('#proof-[@field:tblProof_proof_id]'));
      $('#proofPreview').append($('#messageNoteActive-[@field:tblProof_proof_id]'));

      // Show Approved By if record is filled in
      if ('[@field:tblProof_approvedBy]' != '') {
        $('#messageNoteActive-[@field:tblProof_proof_id]').css("display", "block");
      }
    }

  });


</script>