<div id="proof-[@field:tblProof_proof_id]"></div>

<script>

  document.addEventListener('DataPageReady', function (event) {
    if (event.detail.appKey == '1dae600030bec0d2f2074c45af8f') {

      // Show the File if it exists. 
      // function displayFileResp(containerDivId, fileName_field, s3URL_field, width, height, classname) is defined in the Navigation Menu datapage.
      // Classname is optional, and will be given the default value of 'display-file' if not specified.

      displayFileResp('proof-[@field:tblProof_proof_id]', '[@field:tblArtFile_artFile_filename/]', '[@field:tblArtFile_artFile_URL]', 120, 120);
    }

  });

</script>