<div id="artURLFile-[@field:artFile_id]"></div>

<script>

    function copyURL(target_id) {
        /* Get the text field */
        var copyText = document.getElementById(target_id);

        /* Copy the text inside the text field */
        navigator.clipboard.writeText(copyText.textContent);

        /* Alert the copied text */
        alert("URL has been copied to your clipboard:\r\n\r\n" + copyText.textContent);
    }

    document.addEventListener('DataPageReady', function (event) {
        if (event.detail.appKey == '1dae6000d982779a34354be58f6f') {

            //get the unique id for DOM element
            var elementID = event.detail.uniqueSuffix;

            if (('[@field:artFile_filename]' != '') || ('[@field:artFile_URL]' != '')) {
                $('#EditRecordartFile_filename').closest('tr').css('display', 'none');
                // Get the reference node
                var uploadButton = document.getElementById('Mod0EditRecord' + elementID);

                // hide the button
                uploadButton.style.display = "none";

            }

            if ('[@field:artFile_filename]' != '') {
                if ($('#artURLFile-[@field:artFile_id]').children().length == 0) {
                    $('#artURLFile-[@field:artFile_id]').append("<h3>Uploaded File</h3><p id='upload[@field:artFile_id]'>[@field:artFile_filename/]</p>");
                    $('#upload[@field:artFile_id]').attr('onclick', "copyURL('upload[@field:artFile_id]');");
                    $('#upload[@field:artFile_id]').css('cursor', 'pointer');
                }
            }
            else if ('[@field:artFile_URL]' != '') {
                if ($('#artURLFile-[@field:artFile_id]').children().length == 0) {
                    $('#artURLFile-[@field:artFile_id]').append("<h3>Uploaded File</h3><p id='upload[@field:artFile_id]'>https://[@field:artFile_URL]</p>");
                    $('#upload[@field:artFile_id]').attr('onclick', "copyURL('upload[@field:artFile_id]');");
                    $('#upload[@field:artFile_id]').css('cursor', 'pointer');
                }
            } else { }

        }

    });

</script>