<tr>
    <td class="cbTableCellPadding">
        <div class="cbResultSetBulkEditActionContainer" style="opacity: 0.3;"><a data-cb-name="BulkEditButton"
                title="Edit" href="javascript:void(0);" class="cbResultSetBulkEditActionLink"
                style="text-decoration: none; cursor: default;"><img title="Edit" alt="Edit"
                    src="https://c0dca200.caspio.com/images/dp/RA_edit_pencil.png"
                    style="vertical-align: text-bottom; border: 0px;"></a><span>&nbsp;</span><a
                data-cb-name="BulkEditButton" title="Edit" href="javascript:void(0);"
                class="cbResultSetBulkEditActionLink" style="text-decoration: none; cursor: default;">Edit</a><span
                style="line-height:0px;">&nbsp;&nbsp;</span></div>
    </td>
    <td style="padding-left:15px;">
        Total Hours: <b>24:56</b>
    </td>
    <td style="padding-left:15px;">
        Total Jobs: <b>49</b>
    </td>
</tr>

$('.cbResultSetBulkEditActionContainer').parent().parent().append('<td style="padding-left:15px;">Total Hours: <b>24:56</b></td><td style="padding-left:15px;">Total Jobs: <b>49</b></td>');