<h2>Order Details <span id="eventTag" class="event" style="display: none;">Event</span></h2>
<h1 style="max-width: 550px;">[@field:tblWorkOrder_woDescription]</h1>
<div class="container-fluid" style="padding:0;">
    <div class="row">
        <div class="col">
            <p>Date In: [@field:tblWorkOrder_woDateIn*]<br>
                <span id="dateNeeded">Date Needed: [@field:tblWorkOrder_woDateNeeded*]</span>
            </p>
        </div>
        <div class="col text-end">
            <button id="editOrderDetailsID" class="cbButton-blue no-print" type="button" onclick="checkStatusBilled([@field:tblWorkOrder_woStatus#], function(){document.getElementById('cbParamVirtual3').click();}, 'Order');">Edit Order Details</button>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DataPageReady', function (event) {
        if (event.detail.appKey == '1dae6000392e16b049ea43b89ad2') {

            // Add the order status
            switch ('[@field:tblWorkOrder_woStatus]') {
                case '0':
                    $('#orderStatus').text('Open');
                    $('#orderStatus').addClass('orderStatus0');
                    break;
                case '1':
                    $('#orderStatus').text('At Production');
                    $('#orderStatus').addClass('orderStatus1');
                    break;
                case '2':
                    $('#orderStatus').text('Complete');
                    $('#orderStatus').addClass('orderStatus2');
                    break;
                case '3':
                    $('#orderStatus').text('Invoiced');
                    $('#orderStatus').addClass('orderStatus3');
                    break;
                case '4':
                    $('#orderStatus').text('Canceled');
                    $('#orderStatus').addClass('orderStatus4');
                    break;
            }

            // Header fields
            $('#tblCustomer_custName').html('[@field:tblCustomer_custName]');
            $('#tblWorkOrder_woContact').html('[@field:tblWorkOrder_woContact]');
            $('#tblWorkOrder_woCustPONum').html('[@field:tblWorkOrder_woCustPONum]');
            $('#tblWorkOrder_woQuantity').html('[@field:tblWorkOrder_woQuantity]');
            $('#tblWorkOrder_prevOrder_id').html('[@field:tblWorkOrder_prevOrder_id]');
            $('#tblWorkOrder_woItemDelivery').html('[@field:tblWorkOrder_woItemDelivery]');
            $('#tblWorkOrder_woDeliveryNotes').html('[@field:tblWorkOrder_woDeliveryNotes]');
            $('#tblWorkOrder_workOrder_id').html('[@field:tblWorkOrder_workOrder_id]');


            // Show the Event status if the Order is an event

            if ('[@field:tblWorkOrder_woEvent]' == 'Yes') {
                $('#eventTag').css("display", "inline-block");
                $('#dateNeeded').addClass("event");
            }

            // Show the Bill.com button if the Order Status is Complete (2)

            if ('[@field:tblWorkOrder_woStatus]' == '2' && ('[@authfield:tblUser_userAccess]' == 'admin' || '[@authfield:tblUser_userAccess]' == 'developer')) {
                $('#billDotComButton').css("display", "inline-block");
            }

            // Show the Bill.com status if the Order is marked for bill.com

            if ('[@field:tblWorkOrder_bill_dot_com]' == 'Yes') {
                $('#billDotCom').text('Bill.com');
                $('#billDotCom').addClass('orderStatus3');
            }

            // Show the estimated Order Quantity if it exists
            if ('[@field:tblWorkOrder_woQuantity]') {
                $('#woQuantity').css("display", "block");
            }

            // Show the previous Order ID if it exists
            if ('[@field:tblWorkOrder_prevOrder_id]') {
                $('#prevOrderID').css("display", "block");
            }

            // Show the delivery method if it exists
            if ('[@field:tblWorkOrder_woItemDelivery]') {
                $('#deliveryMethod').css("display", "block");
            }

            // Show the delivery notes if they exist
            if ('[@field:tblWorkOrder_woDeliveryNotes]') {
                $('#deliveryNotes').css("display", "block");
            }
        }
    });

</script>