<div name="job-[@field:tblJob_jobID]" style="white-space: nowrap;">
    <div class="status-po status-bgColor[@field:tblWorkOrder_woOrderDataStatus]"></div>
    <div class="status-garment status-bgColor[@field:tblWorkOrder_woGarmentStatus]"></div>
    <div class="status-art status-bgColor[@field:tblWorkOrder_woArtStatus]"></div>
</div>