<style type="text/css">

    .job-label {
        color: [@app: color_purple_dark];
        font-weight: bold !important;
        white-space: nowrap;
    }

</style>

<br />
<h2 class="d-none d-xl-block">[@plan_machine]</h2>
<h2 class="d-xl-none">[@field:tblMachine_name]</h2>
<p>The total is calculated after the page is loaded. If you Grid Edit, you'll need to reload the page afterwards to see the correct total.</p>