<style type="text/css">
  /* The Modal style is set in the Caspio Theme Source file, as is the style for .hidden */

  .message-active {
    color: white !important;
    text-align: center;
    background-color: #00b500;
    padding: 5px !important;
    border-radius: 2px;
    margin-bottom: 5px !important;
  }
</style>

<h2 id="messages_title">Messages</h2>