</header><div class="d-print-none"><div><header>

    <h2 style="display: inline-block;">Production Planner</h2>
    <a href="[@app:relativeURL_ProdCalc]" class="linkButton" style="margin-bottom: 8px !important; margin-left: 15px !important;">Return to Production Calculator</a>
    <p class="d-none d-xl-block">1. Assign machines to open jobs (this can be done in the Production Calculator)<br />
    2. On this page, assign a production order to the jobs using Grid Edit.</p>
    <p>Each job number links directly to a Production Data edit page for that job.</p>
    <br />
    <p style="font-weight: 600;">To show up in this list, Orders must have Artwork status of Ready, and Order Data status of Reviewed.</p>
    <br /><br />