<style type="text/css">
    a {
         color: #7B52A5;
         font-size: 13px;
         font-family: Arial, sans-serif;
         font-style: normal;
         font-weight: bold;
         text-decoration: none;
    }

    a:hover {
         color: #7B52A5;
         font-size: 13px;
         font-family: Arial, sans-serif;
         font-style: normal;
         font-weight: bold;
         text-decoration: underline;
    }

    .thumbnail {
        margin: 15px 0;
    }

    .jobNumber {
        color: [@app:color_0_red] !important;
        text-decoration: none;
        font-weight: bold;
        font-size: 2rem;
        font-family: Verdana;
    }

    .jobNumber:hover {
        color: [@app:color_0_red] !important;
        text-decoration: underline;
        font-weight: bold;
        font-size: 2rem;
        font-family: Verdana;
    }

    /* The Modal style is set in the Caspio Theme Source file, as is the style for .hidden and #deleteID:hover */

    .jobStatus0 {
        color: white;
        background-color: [@app:color_4_green];
    }

    .jobStatus1 {
        color: #777777;
        background-color: [@app:color_3_yellow];
    }

    .jobStatus2 {
        color: white;
        background-color: [@app:color_blue];
    }

    .jobStatus3 {
        color: white;
        background-color: [@app:color_purple_dark];
    }

    .jobStatus4 {
        color: white;
        background-color: [@app:color_5_grey];
    }

    .jobStatusStyling {
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        vertical-align: middle;
        font-size: larger;
        padding: 3px 10px 3px 10px;
        border-radius: 8px;
        margin-left: 5px;
        margin-top: 5px;
        box-sizing: unset;
        line-height: 1.5;
    }

    .reorderStyling {
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        vertical-align: middle;
        font-size: 1rem;
        padding: 1px 10px 1px 10px;
        border-radius: 8px;
        margin: -3px 0 0 0;
        box-sizing: unset;
        display: inline-block;
        color: white;
        background-color: [@app:color_purple_medium];
    }

    .bold-data {
        font-weight: bold;
        font-size: 0.8rem;
        display: inline-block;
        margin-right: 15px;
    }

    .job-notes {
        font-weight: bold;
        font-size: 1rem;
    }

    .grey {
        color: [@app:color_5_grey];
    }

</style>

<h3>Edit Job Production Data</h3>
