<br>
<button onclick="window.history.back();" class="cbButton" type="button">Back</button>

<script type="text/javascript">
    document.addEventListener('DataPageReady', function (event) {
        $('#sp_prodDataForm td:nth-child(20),#sp_prodDataForm th:nth-child(20)').hide();

        // Hide the Report Record number message at the bottom of all reports on this page
        $('.cbResultSetRecordMessage').css('display', 'none');

        // Add the .hide-child class to those Report Record number messages that say "No Records Found"
        $('.cbResultSetRecordMessage:contains("found")').addClass('hide-child');

        // Hide any parent elements whose tagged .hide-child children are all display:none
        hideParent('sp_printOrder');
        hideParent('sp_pressOrder');

    });
</script>
