<button id="editJobDetailsID" class="cbButton-blue no-print" type="button"
  onclick="checkStatusBilled([@field:tblJob_jobStatus#], function(){document.getElementById('cbParamVirtual7').click();}, 'Job');">Edit
  Job Details</button>

<button id="editprodDataID" class="cbButton-blue no-print" type="button"
  onclick="checkStatusBilled([@field:tblJob_jobStatus#], function(){document.getElementById('jobDetailsLayout').style.display = 'none';document.getElementById('emb_prodDataView').style.display = 'none';document.getElementById('sp_prodDataForm').style.display = 'block';document.getElementById('emb_prodDataForm').style.display = 'block';if(document.getElementById('cbParamVirtual4')){document.getElementById('cbParamVirtual4').click();}if(document.getElementById('cbParamVirtual12')){document.getElementById('cbParamVirtual12').click();}if(document.getElementById('cbParamVirtual13')){document.getElementById('cbParamVirtual13').click();}}, 'Job');">Edit
  Production Data</button>