<div id="sep-[@field:tblSeparation_sep_id]"></div>

<script>

  document.addEventListener('DataPageReady', function (event) {
    if (event.detail.appKey == '1dae6000ce5c0ec3a1754facad4a') {

      // Show the File if it exists. 
      // function displayFileResp(containerDivId, fileName_field, s3URL_field, width, height, classname = 'display-file', bgcolor = '#FFFFFF') is defined in caspioFunctionsXXX.js.
      // Classname must be explicitly passed if bgcolor needs to be passed.

      displayFileResp('sep-[@field:tblSeparation_sep_id]', '[@field:tblArtFile_artFile_filename/]', '[@field:tblArtFile_artFile_URL]', 75, 75);
    }

  });

</script>
