<table style="max-width: 550px;">
    <tbody>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Date Complete</h5>
            </td>
            <td class="cbHTMLBlockContainer">
                <small>[@field:tblJob_jobDateComplete*]</small>
            </td>
        </tr>
        <tr class="emb art-hide">
            <td class="cbHTMLBlockContainer">
                <h5>Job Detail</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:tblJob_jobDetail]</small>
            </td>
        </tr>
        <tr class="art-hide">
            <td class="cbHTMLBlockContainer">
                <h5>Operator</h5>
            </td>
            <td class="cbHTMLBlockContainer">
                <small>[@field:tblJob_operator]</small>
            </td>
        </tr>
        <tr class="art-hide">
            <td class="cbHTMLBlockContainer">
                <h5>Machine</h5>
            </td>
            <td class="cbHTMLBlockContainer">
                <h5>[@field:tblJob_machine]</h5>
            </td>
        </tr>
        <tr class="art-hide">
            <td class="cbHTMLBlockContainer">
                <h5>Machine Group</h5>
            </td>
            <td class="cbHTMLBlockContainer">
                <small>[@field:tblJob_machine_group]</small>
            </td>
        </tr>
        <tr class="art-hide">
            <td class="cbHTMLBlockContainer">
                <h5>Re-Order?</h5>
            </td>
            <td class="cbHTMLBlockContainer">
                <small>[@field:tblJob_jobReorder^]</small>
            </td>
        </tr>
        <tr class="emb art-hide">
            <td class="cbHTMLBlockContainer">
                <h5>Customer Supplied Tape?</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:tblJob_custTape^]</small>
            </td>
        </tr>
        <tr class="emb art-hide">
            <td class="cbHTMLBlockContainer">
                <h5>Digitizing Required?</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:tblJob_DIGITIZE_R^]</small>
            </td>
        </tr>
        <tr class="sp-collapse">
            <td colspan="2" class="cbHTMLBlockContainer">
                <h5>Colors:</h5><small>&nbsp;&nbsp;[@field:tblJob_numColors]</small>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h5>Screens:</h5><small>&nbsp;&nbsp;[@field:tblJob_numScreens]</small>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h5>Cycles:</h5><small>&nbsp;&nbsp;[@field:tblJob_numCycles]</small>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr width="100%" />
            </td>
        </tr>
        <tr class="art-hide">
            <td class="cbHTMLBlockContainer">
                <h5>Garment Type</h5>
            </td>
            <td class="cbHTMLBlockContainer">
                <small>[@field:tblJob_garmentType]</small>
            </td>
        </tr>
        <tr class="art-hide">
            <td class="cbHTMLBlockContainer">
                <h5>Garment Notes</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:tblJob_garmentNotes]</small>
            </td>
        </tr>
        <tr class="art-hide">
            <td class="cbHTMLBlockContainer">
                <h5>Decoration Location</h5>
            </td>
            <td class="cbHTMLBlockContainer">
                <small>[@field:tblJob_imprintLocation]</small>
            </td>
        </tr>
        <tr class="art-hide">
            <td class="cbHTMLBlockContainer">
                <h5>Location Notes</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:tblJob_locationNotes]</small>
            </td>
        </tr>
        <tr class="art-hide">
            <td class="cbHTMLBlockContainer">
                <h5>Miscellaneous Notes</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:tblJob_jobNotes]</small>
            </td>
        </tr>
        <tr class="art-hide">
            <td colspan="2">
                <hr width="100%" />
            </td>
        </tr>
        <tr class="art-hide">
            <td class="cbHTMLBlockContainer">
                <h5>Art Log Number</h5>
            </td>
            <td class="cbHTMLBlockContainer">
                <small>
                    <a href="[@field:tblArtWork_edit_URL]">
                        [@field:tblJob_jobArtLogNum_noLetter]
                    </a>
                </small>
            </td>
        </tr>
        <tr class="art-hide">
            <td class="cbHTMLBlockContainer">
                <h5>Version</h5>
            </td>
            <td class="cbHTMLBlockContainer">
                <small>[@field:tblJob_jobArtworkVersion]</small>
            </td>
        </tr>
        <tr class="art-hide">
            <td class="cbHTMLBlockContainer">
                <h5>Version Notes</h5>
            </td>
            <td class="cbHTMLBlockContainer">
                <small>[@field:tblThumbnail_thumb_version_notes]</small>
            </td>
        </tr>
        <tr class="emb">
            <td class="cbHTMLBlockContainer">
                <h5>File Name</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:tblJob_FILENAME]</small>
            </td>
        </tr>
        <tr class="emb art-hide">
            <td class="cbHTMLBlockContainer">
                <h5>Stitch Count</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:tblJob_stitchCount_int]</small>
            </td>
        </tr>
    </tbody>
</table>