<button id="editJobDetailsID" class="cbButton-blue no-print" type="button" data-bs-toggle="modal" data-bs-target="#cb-modal"
  onclick="$('#cb-modal-dialog').removeClass('modal-datapage-container').addClass('modal-larger-dialog');
  checkStatusBilled([@field:jobStatus#], function(){
    openModal(
      'Edit Job Details', 
      '1dae600041a65c0ab6f54bdb835f', 
      '?InsertRecordjobID=[@field:jobID]&editJob_jobReorder=[@field:jobReorder]&editJob_oversizeScreen=[@field:oversizeScreen]&editJob_discountScreen=[@field:setupReq]'
    );
  }, 'Job');">
  Edit Job Details
</button>

<button id="editProdDataID" class="cbButton-blue no-print art-hide" type="button"
  onclick="checkStatusBilled([@field:jobStatus#], function(){window.location.assign('[@field:edit_prodData_URL]');}, 'Job');">Edit
  Production Data</button>

  <button id="editJobGarmentsID" class="cbButton-blue no-print art-hide" type="button"
    onclick="checkStatusBilled([@field:jobStatus#], function(){window.location.assign('[@field:editGarments_URL]');}, 'Job');">Edit
    Job Garments</button>