<hr width="100%" />

<h1 id="artCharge-[@field:tblProof_proof_id]" style="display: none;">Art Charge: [@field:tblArtCharge_ArtCharge$]</h1>
<button onclick="
    openModal(
      'New Art Charge', 
      '1dae60004e6cf5b1104e44d38427', 
      '[@field:tblProof_new_artCharge_params]'
    );
  " class="cbButton" id="addArtChargeID" type="button" data-bs-toggle="modal" data-bs-target="#cb-modal"
    style="display: none;">Add Art Charge</button>
<button onclick="
    openModal(
        'Edit Art Charge', 
        '1dae60000cb0d5d7f7664f72a5ce', 
        '?editCharge_proof_key=[@field:tblProof_proof_key]'
    );
    " class="cbButton" id="editArtChargeID" type="button" data-bs-toggle="modal" data-bs-target="#cb-modal"
    style="display: none;">Edit Art Charge</button>

<script>

    document.addEventListener('DataPageReady', function (event) {
        if (event.detail.appKey == '1dae600084ed180490e6449bb119') {
            if ('[@field:tblArtCharge_proof_key]' != '') {
                $('#artCharge-[@field:tblProof_proof_id]').css("display", "inline-block");
                $('#editArtChargeID').css("display", "inline-block");
                $('#addArtChargeID').css("display", "none");
            } else if ('[@field:tblWorkOrder_woStatus]' != '3') {
                // Show the Add Art Charge button only if the Order Status is NOT Invoiced
                $('#addArtChargeID').css("display", "inline-block");
            }
        }
    });

    document.addEventListener('DataPageReady', function (event) {
        // checks for the Add Art Charge modal before running.
        if (event.detail.appKey == '1dae60004e6cf5b1104e44d38427') {
            //get the unique id for DOM element
            var elementID = event.detail.uniqueSuffix;
            //example: var object = document.getElementById('ELEMENT_NAME' + elementID);
            // Have the update button close the modal.
            var submitButton = document.getElementById("Submit" + elementID);
            $(submitButton).attr('data-bs-dismiss','modal');
        }
    });

    document.addEventListener('DataPageReady', function (event) {
        // checks for the Edit Art Charge modal (the Art Charges datapage) before running.
        if (event.detail.appKey == '1dae60000cb0d5d7f7664f72a5ce') {
            //get the unique id for DOM element
         var elementID = event.detail.uniqueSuffix;
            //example: var object = document.getElementById('ELEMENT_NAME' + elementID) ;

            // Hide the search form for the Art Charges datapage, if it exists.
            // It is set up to go right to the details page if only one record is returned.
            $('[id^="cbOuterAjaxCtnr"]:nth-last-child(2)').css('display','none');

            // Have the update button close the modal.
            var updateButton = document.getElementById("Mod0EditRecord" + elementID);
            $(updateButton).attr('data-bs-dismiss','modal');
        }
    });

    document.addEventListener('FormSubmitted', function(event) {
        // show the modal form with caspio errors if they exist
        if (event.detail.appKey == '1dae60004e6cf5b1104e44d38427' || event.detail.appKey == '1dae60000cb0d5d7f7664f72a5ce') {
            var artChargeModal = new bootstrap.Modal(document.getElementById('cb-modal'));
            if ($('.cbFormError').length > 0) {
                artChargeModal.show();
            }
        }
    });

</script>
