<!--<button
onclick="window.location.assign('[@app:relativeURL_ProofNewCustCode]');"
    class="cbButton" id="addNewID" type="submit" style="float:left;">Add New</button>-->

<button id="btnReset" class="cbButton" type="button" style="float:left;" onclick="resetSearch('Proofs', '[@cbHostPage]');">Reset</button>

<script type="text/javascript">

    document.addEventListener('DataPageReady', function (event) {
        //var addButton = $('#addNewID');
        var resetButton = $('#btnReset');
        var searchButton = $('input[name="searchID"]');
        //$($(searchButton).closest('td')).append(addButton);
        $($(searchButton).closest('td')).append(resetButton);
    });    

</script>
