<div class="job-item">
    <div class="row">
        <div class="col-12 text-center">
            <h4>[@field:tblJob_jobDescription] <span class="grey">([@field:tblJob_quantity])</span></h4>
        </div>
        <div class="col d-print-inline" style="flex: 1 0 30%;">
            <a href="[@field:tblJob_edit_prodData_URL]" class="job-label">[@field:tblJob_jobNumber]</a>
            <div id="jobStatus-[@field:tblJob_jobID]" class="jobStatusStyling jobStatus[@field:tblJob_jobStatus]">
                [@field:Status_Order_status_desc]</div>
            <span class="job-type">[@field:tblJob_jobType]</span>
            <span class="job-location">[@field:tblJob_imprintLocation]</span>
            <br />
            <div class="bold-data">[@calcfield:1]</div>
            <div class="bold-data format-width">[@calcfield:2]</div>
            <div class="bold-data format-height">[@calcfield:3]</div>
            <div class="bold-data format-numColors">[@field:tblJob_numColors]</div>
            <div class="bold-data format-stitches">[@field:tblJob_stitchCount]</div>
            <div class="bold-data format-filename">[@field:tblJob_FILENAME]</div>
            <br />
            <div id="jobThumb-[@field:tblJob_jobID]"></div>
            <div style="display:none;" class="d-none d-xl-block d-print-block">
                <canvas id="qr_[@field:tblJob_jobID]"></canvas>
            </div>
        </div>
        <div class="col d-print-inline" style="flex: 1 0 65%;">
            <div class="row">
                <div class="col-12 text-end">
                    <div id="reorderStatus-[@field:tblJob_jobID]" class="hidden">[@field:tblJob_jobReorder]</div>
                    <div id="reorderLabel-[@field:tblJob_jobID]" class="hidden">Re-Order</div>
                    <div class="job-notes">[@calcfield:9]</div>
                    <div class="job-notes">[@calcfield:10]</div>
                    <div class="job-notes">[@calcfield:11]</div>
                    <div class="job-notes">[@calcfield:12]</div>
                    <div class="job-notes">[@calcfield:4]</div>
                </div>
                <div class="col align-self-end d-none d-xl-block d-print-block">
                    <div id="wrapper_[@field:tblJob_jobID]" class="wrapper">
                        <embed id="embed_[@field:tblJob_jobID]" type="text/html"
                            src="https://www.three-twins.com/job-embed.html?InsertRecordjobID=[@field:tblJob_jobID]">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-end d-none d-xl-block d-print-block">
            <p style="display: inline-block; white-space: nowrap;">Machine ______ </p>
            <p style="display: inline-block; white-space: nowrap;">Operator ______ </p>
            <p style="display: inline-block; white-space: nowrap;">Approved ______ </p>
            <p style="display: inline-block; white-space: nowrap;">Final Check ______ </p>
            <p style="display: inline-block; white-space: nowrap;">Date ____________</p>
        </div>
    </div>
</div>

<script>

    document.addEventListener('DataPageReady', function (event) {
        if (event.detail.appKey == '1dae60001dad593c13b64fa0a2af') {

            // Show the File if it exists. 
            // function displayFileResp(containerDivId, fileName_field, s3URL_field, width, height, classname) is defined in the Navigation Menu datapage.
            // Classname is optional, and will be given the default value of 'display-file' if not specified.

            displayFileResp('jobThumb-[@field:tblJob_jobID]', '[@field:tblArtFile_artFile_filename/]', '[@field:tblArtFile_artFile_URL]', 250, 250, 'thumbnail');

            //re-order tag
            if (document.getElementById('reorderStatus-[@field:tblJob_jobID]')) {
                var reorderStatus = document.getElementById('reorderStatus-[@field:tblJob_jobID]');
                var reorderLabel = document.getElementById('reorderLabel-[@field:tblJob_jobID]');

                if (reorderStatus.innerHTML == "Yes") {
                    reorderLabel.className = "reorderStyling";
                    $(reorderLabel).after('<br />');
                }
            }

            // add the ArtFile QR Code for the art log number
            var qr_link = '[@calcfield:13]'
            var qr_URL = 'https://three-twins.com/' + qr_link.replace('amp;', '');
            if (qr_link) {
                var qr = new QRious({
                    element: document.getElementById('qr_[@field:tblJob_jobID]'), 
                    size: 120,
                    level: 'L',
                    value: qr_URL
                });
                $('#qr_[@field:tblJob_jobID]').closest('div').css('display','block');
            }
        }

    });

</script>
