<div id="message-[@field:Messages_messages_id]"></div>

<script>

  document.addEventListener('DataPageReady', function (event) {
    if (event.detail.appKey == '1dae6000c90d412bbf904da894fb') {

      // Show the File if it exists. 
      // function displayFileResp(containerDivId, fileName_field, s3URL_field, width, height, classname) is defined in the Navigation Menu datapage.
      // Classname is optional, and will be given the default value of 'display-file' if not specified.

      if ('[@field:tblMessages_customer_message]' == 'No') {

        displayFileResp('message-[@field:Messages_messages_id]', '[@field:tblArtFile_artFile_filename/]', '[@field:tblArtFile_artFile_URL]', 120, 120);

      } else {

        displayFileResp('message-[@field:Messages_messages_id]', '[@field:tblCustFile_custFile_filename/]', '[@field:tblCustFile_custFile_URL]', 120, 120);

      }
    }

  });

</script>