<div class="hidden" id='dts_[@field:tblThumbnail_thumb_id]'>[@field:tblThumbnail_dts]</div>
<h3 id='dtsLabel_[@field:tblThumbnail_thumb_id]' class="hidden">DTS</h3>

<div class="hidden" id='film_[@field:tblThumbnail_thumb_id]'>[@field:tblThumbnail_film]</div>
<h3 id='filmLabel_[@field:tblThumbnail_thumb_id]' class="hidden">FILM</h3>

<script type="text/javascript">
  //DTS
  var dtsStatus = document.getElementById('dts_[@field:tblThumbnail_thumb_id]');
  var dtsLabel = document.getElementById('dtsLabel_[@field:tblThumbnail_thumb_id]');

  if (dtsStatus.innerHTML == "Yes") {
    dtsLabel.className = "dts";

  }

  //FILM
  var filmStatus = document.getElementById('film_[@field:tblThumbnail_thumb_id]');
  var filmLabel = document.getElementById('filmLabel_[@field:tblThumbnail_thumb_id]');

  if (filmStatus.innerHTML == "Yes") {
    filmLabel.className = "film";
  }
</script>