<style>

  .qtyText {
    font-weight: bold !important;
    float: right !important;
  }
  
  .clearfix::after {
    content: "" !important;
    clear: both !important;
    display: table !important;
  }
  
  .status-art {
    content: '' !important;
    position: absolute !important;
    border-style: solid !important;
    border-radius: 2px !important;
    border-width: 0px 36px 0px 0px !important;
    top: 0px !important;
    right: -36px !important;
    bottom: 0px !important;
    left: 0px !important;
    z-index: -3 !important;
  }
  
  .status-garment {
    content: '' !important;
    position: absolute !important;
    border-style: solid !important;
    border-width: 0px 24px 0px 0px !important;
    top: 0px !important;
    right: -24px !important;
    bottom: 0px !important;
    left: 0px !important;
    z-index: -2 !important;
  }
  
  .status-po {
    content: '' !important;
    position: absolute !important;
    border-style: solid !important;
    border-width: 0px 12px 0px 0px !important;
    top: 0px !important;
    right: -12px !important;
    bottom: 0px !important;
    left: 0px !important;
    z-index: -1 !important;
  }
  
  .status-borderColor {
    border-color: [@app:color_purple_medium] !important;
  }
  
  .status-borderColor0 {
    border-color: [@app:color_0_red] !important;
  }
  
  .status-borderColor1 {
    border-color: [@app:color_1_orange] !important;
  }
  
  .status-borderColor2 {
    border-color: [@app:color_2_gold] !important;
  }
  
  .status-borderColor3 {
    border-color: [@app:color_3_yellow] !important;
  }
  
  .status-borderColor4 {
    border-color: [@app:color_4_green] !important;
  }
  
  .status-borderColor5, .status-borderColor6 {
    border-color: [@app:color_5_grey] !important;
  }
  
  .status-bgColor0 {
    background-color: [@app:color_light_0_red];
  }
  
  .status-bgColor1 {
    background-color: [@app:color_light_1_orange];
  }
  
  .status-bgColor2 {
    background-color: [@app:color_light_2_gold];
  }
  
  .status-bgColor3 {
    background-color: [@app:color_light_3_yellow];
  }
  
  .status-bgColor4 {
    background-color: [@app:color_light_4_green];
  }
  
  .status-bgColor5 {
    background-color: [@app:color_light_5_grey];
  }
  
  /*
  This is Caspio's solution to the floated div's not showing.
  "Upon checking, it seems that there is a stylesheet on your webpage that removes the float of your custom elements therefore affecting its appearance."
  */
  [class*=cbResultSetPanelDataContainer] {
  z-index: 3 !important;
  }
  
  </style>
  <h2 style="display: inline-block;">Open Orders - By Requested Date</h2>
  <a href="[@app:relativeURL_openJobsCalendar]" class="linkButton" id="returnToJobs" style="margin-bottom: 8px !important; margin-left: 15px !important;">Return to Open Jobs</a>