<div class="alert alert-primary" role="alert">
  You can attach 1 primary file, and multiple file links per message.<br /><br />
  The primary file will be sent as an email attachment to the customer contact for this message.<br /><br />
  The primary file will appear as the thumbnail for this message.
</div>

<div class="alert alert-info" role="alert">
  If you need to upload a file larger than 25MB, or any additional files, click the Attach File Link button to upload files directly to our website without sending them as email attachments. They will show up in the Attachments column of the Messages report in this proof conversation, in addition to the primary file.
</div>

<button
    onclick="openModal(
      'Email Attachment File', 
      '1dae60004bc60ba97f864e2c8204', 
      '?tblArtFile_artFile_id=[@field:Messages_messages_artFile_id]&file_type=PRF&InsertRecordmessages_id=[@field:Messages_messages_id]'
    );"
    class="cbButton" id="attachFileID" type="button" data-bs-toggle="modal" data-bs-target="#cb-modal">Attach Primary File</button>

<a id="attachURLFileID" class="linkButton" href="proof-message-draft-artfile-new.html">Attach File Link</a>

