<a href="[@field:tblJob_edit_URL]" class="job-label">[@field:tblJob_jobNumber]</a>
<br /><br />
<div id="jobThumb-[@field:tblJob_jobID]"></div>

<script>

  document.addEventListener('DataPageReady', function (event) {
    if (event.detail.appKey == '1dae60008d517a57ab2045768957') {

      // Show the File if it exists. 
      // function displayFileResp(containerDivId, fileName_field, s3URL_field, width, height, classname) is defined in the Navigation Menu datapage.
      // Classname is optional, and will be given the default value of 'display-file' if not specified.

      displayFileResp('jobThumb-[@field:tblJob_jobID]', '[@field:tblArtFile_artFile_filename/]', '[@field:tblArtFile_artFile_URL]', 90, 90, 'thumbnail');
    }

  });

</script>