<div class="hidden" id='event_[@field:tblProof_proof_key]'>[@field:tblWorkOrder_woEvent]</div>
<div class="hidden" id='orderData_[@field:tblProof_proof_key]'>[@field:tblWorkOrder_woOrderDataStatus]</div>
<a href="[@field:tblWorkOrder_edit_URL]" class="wo-label">[@field:tblProof_workOrder_id]</a>
<h3 id='orderDataLabel_[@field:tblProof_proof_key]' class="hidden">New</h3>
<h3 id='eventLabel_[@field:tblProof_proof_key]' class="hidden">Event</h3>

<div id="artLogs[@field:tblProof_proof_id]" style="margin-top:0; white-space:nowrap;"></div>
<div id="statusnotes[@field:tblProof_proof_id]" class="status-note">[@field:tblProof_status_notes]</div>

<script type="text/javascript">

    document.addEventListener('DataPageReady', function (event) {

        let list_string, arr, arrLen, text, i;

        if ("[@calcfield:1]" && document.getElementById("artLogs[@field:tblProof_proof_id]")) {
            list_string = "[@calcfield:1]"; //field where you store comma delimited string

            arr = list_string.split(', ');
            arrLen = arr.length;

            text = "";
            for (i = 0; i < arrLen; i = i + 2) {
                text += "<br /><a href='" + arr[i] + "'>" + arr[i + 1] + "</a>";
            }

            document.getElementById("artLogs[@field:tblProof_proof_id]").innerHTML = text;
        }

        //event
        if (document.getElementById('event_[@field:tblProof_proof_key]')) {
            var eventStatus = document.getElementById('event_[@field:tblProof_proof_key]');
            var eventLabel = document.getElementById('eventLabel_[@field:tblProof_proof_key]');

            if (eventStatus.innerHTML == "Yes") {
                eventLabel.className = "event";

            }
        }

        //event
        if (document.getElementById('orderData_[@field:tblProof_proof_key]')) {
            var orderDataStatus = document.getElementById('orderData_[@field:tblProof_proof_key]');
            var orderDataLabel = document.getElementById('orderDataLabel_[@field:tblProof_proof_key]');

            if (orderDataStatus.innerHTML == "0") {
                orderDataLabel.className = "orderDataNew";

            }
        }
    });
</script>
