<br /><button class="cbButton" id="prodSPsaveID" type="submit">Save</button>

<button id="prodSPcancelID" class="cbButton" type="button"
    onclick="document.getElementById('sp_prodDataForm').style.display='none';document.getElementById('cbParamVirtual4').click();document.getElementById('jobDetailsLayout').style.display = 'block';">Cancel</button>