<button onclick="window.history.back();" class="cbButton" id="jobReturnID" type="button">Return to Job</button>

  <script type="text/javascript">
      document.addEventListener('DataPageReady', function (event) {
        $('#garmentsJobReport td:nth-child(9),#garmentsJobReport th:nth-child(9),#garmentsJobReport td:nth-child(10),#garmentsJobReport th:nth-child(10)').hide();
      });
  </script>
