<span class="nowrap right-pad">[@field:tblThumbnail_screenLPI_formatted]</span>
<span class="nowrap right-pad">[@field:tblArtWork_artLogNum_dashes]-[@field:tblThumbnail_thumb_version]-[@field:tblSeparation_screen_number_suffix]</span>
<span class="nowrap right-pad">[@field:tblJob_jobDescription]</span>
<span class="nowrap right-pad">[@field:tblJob_imprintLocation]</span>
<span class="nowrap right-pad">[@calcfield:1] - <span id="print_order_[@field:tblSeparation_sep_id]"></span></span>

<script>

  document.addEventListener('DataPageReady', function (event) {
    if (event.detail.appKey == '1dae6000ce5c0ec3a1754facad4a') {
      let printOrdersList = '[@calcfield:2]';
      let printOrder = '';
      if (printOrdersList != '') {
        let printOrdersArr = printOrdersList.split(',');
        let printOrdersFiltered = printOrdersArr.filter( function (el) {
          return el != '';
        });
        printOrder += printOrdersFiltered.join(' and ');
      }
      document.getElementById('print_order_[@field:tblSeparation_sep_id]').innerHTML = printOrder;
    }

  });

</script>
