<h1 id="invoiceTotal" class="float-right"></h1>

<script>


    // Convert Currency string to double - from this article: https://www.geeksforgeeks.org/how-to-convert-a-currency-string-to-a-double-value-with-jquery-or-javascript/

    // JavaScript script to convert 
    // string currency to double 

    // Function to convert 
    function convert(currency) {

        // Using replace() method 
        // to make currency string suitable  
        // for parseFloat() to convert  
        var temp = currency.replace(/[^0-9.-]+/g, "");

        // Converting string to float 
        // or double and return 
        return parseFloat(temp);

    }

    document.addEventListener('DataPageReady', function (event) {

        var sum = 0;
        $($(".cbResultSetTotalsData")).each(function () {
            if ($($(this)).text().startsWith('$')) {
                var valToDouble = convert($($(this)).text());
                sum += valToDouble;
            }
        });

        // Convert number to Currency String - from this article: https://www.geeksforgeeks.org/how-to-format-numbers-as-currency-string-in-javascript/

        $("#invoiceTotal").text("Invoice Total: " + (Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' })
            .format(sum)));

        // Move the invoice total to the bottom of the page
        $('#orderDetailsLayout').append($('#invoiceTotal'));

    });

</script>