<div class="container-padded"></div>
<button onclick="window.history.back();" class="cbButton" id="prodDataEMBreturnID" type="button">Back</button>

  <script type="text/javascript">
      document.addEventListener('DataPageReady', function (event) {
        $('#ProdData-EMB td:nth-child(8),#ProdData-EMB th:nth-child(8), #ProdData-EMB td:nth-child(9),#ProdData-EMB th:nth-child(9)').hide();
      });
  </script>