<script type="text/javascript">
    document.addEventListener('DataPageReady', function (event) {
        $('td:nth-child(18),th:nth-child(18),td:nth-child(19),th:nth-child(19),td:nth-child(20),th:nth-child(20),td:nth-child(21),th:nth-child(21),td:nth-child(22),th:nth-child(22),td:nth-child(23),th:nth-child(23),td:nth-child(24),th:nth-child(24)').css('display', 'none');
        $('tr td.cbResultSetTotalsLabelCell:nth-child(2)').attr('colspan', '17');
        $('.cbResultSetGroup1SubTotalCell').attr('colspan', '17');
        $('.cbResultSetGroup1LabelCell').attr('colspan', '18');

        // Get value of number of jobs returned
        var numJobs = $($('.cbResultSetRecordMessage')[0]).text().split(' ').last();

        // Get value of total amount of time
        var totalHours = $($('td.cbResultSetTotalsDataCell')[0]).text();

        // Insert these values into the bulk edit frozen header
        if ($('.cbResultSetBulkEditActionContainer').parent().parent().children().length < 3) {
            $('.cbResultSetBulkEditActionContainer').parent().parent().append('<td style="padding-left:15px;">Total Hours: <b>'+totalHours+'</b></td><td style="padding-left:15px;">Total Jobs: <b>'+numJobs+'</b></td>');
        }

        // Hide the chart if the Order ID field is filled in
        if ($('#Value15_1').val() !== '') {
            $('.cbChartContainer').css('display','none');
        }
    });
</script>
