<script type="text/javascript">
    document.addEventListener('DataPageReady', function (event) {
        if (event.detail.appKey == '1dae60008d8a27e221c44e8c9278') {

            // Job Details Header fields
            $('#jobNumber').html('[@field:jobNumber]');
            $('#jobNumber_link').html('<a href="[@field:tblJob_edit_URL]" class="jobNumber">[@field:jobNumber]</a>');
            $('#jobStatus').html('[@calcfield:1]');
            $('#jobStatus').addClass('jobStatus[@field:jobStatus]')
            $('#jobDescription').html('[@field:jobDescription]');
            if ('[@field:tblJob_quantity]' !== '') {
                $('#jobQuantity').html('([@field:tblJob_quantity])');
            }
            $('#jobType').html('[@calcfield:2]');
            $('#jobLocation').html('[@field:tblJob_imprintLocation]');
            $('#artLogNum').html('<a href="[@calcfield:9]">[@calcfield:5]</a>');
            if ('[@field:tblJob_FILENAME]' !== '') {
                $('#jobFilename').html('<span class="grey">File Name: </span>[@field:tblJob_FILENAME]');
            }
            if ('[@calcfield:6]' !== '') {
                $('#artWidth').html('<span class="grey">Width: </span>[@calcfield:6]\"');
            }
            if ('[@calcfield:7]' !== '') {
                $('#artHeight').html('<span class="grey">Height: </span>[@calcfield:7]\"');
            }
            if ('[@field:tblJob_stitchCount]' !== '') {
                $('#jobStitches').html('<span class="grey">Stitches: </span>[@field:tblJob_stitchCount]');
            }
            if ('[@calcfield:8]' !== '') {
                $('#versionNotes').html('<br /><span class="grey">Version Notes:</span><br />[@calcfield:8]');
            }

            // Show the thumbnail if the job has an art log number

            // Show the File if it exists. 
            // function displayFileResp(containerDivId, fileName_field, s3URL_field, width, height, classname) is defined in the Navigation Menu datapage.
            // Classname is optional, and will be given the default value of 'display-file' if not specified.

            displayFileResp('jobThumb', '[@field:tblArtFile_artFile_filename/]', '[@field:tblArtFile_artFile_URL]', 300, 300, 'thumbnail');

            // add the Proof ArtFile link for smaller screens
            var proof_URL = getURL('[@calcfield:3]', '[@calcfield:4]');

            if (proof_URL) {
                // add the URL to the link for smaller screens
                document.getElementById('viewProof').href = proof_URL;
                $('#viewProof').css('display', 'block');
            }

        }

    });
</script>

<table style="display:none;"><tr><td>
