<p>
    Proofs can no longer be created for MC customers directly,<br />because we needed to simply customer logins for our website,<br />and it didn't make sense to maintain two different types of customer access.
</p>
<br />
<p>
    If you need to create a proof for an MC customer, process the proof as CG instead,<br />so a Three Twins contact person can forward the proof to the MC customer.<br />
    You should still set up the Order and the Artwork as MC in this case.
</p>
<br />
<p>
If you have further questions, please ask Mike or Mel.
</p>

<script type="text/javascript">

    /*
    
    This function is defined in the html page for the Navigation Menu:
    
    function makeButton(idAsString, functionAsString, buttonText, typeAsString, referenceButton) 
    
    */

    document.addEventListener('DataPageReady', function (event) {

        // Get the reference node
        var submitButton = document.getElementsByName("Submit")[0];

        // make the button float left
        submitButton.style.cssFloat = "left";

        // Make the CANCEL button
        makeButton("cancelID", "window.history.back();", "Cancel", "button", submitButton);

    });
</script>