<table>
    <tbody>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Notes</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:trfNotes]</small>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr width="100%" />
            </td>
        </tr>
        <tr>
            <td colspan="2" class="cbHTMLBlockContainer">
                <h4>Machine Data</h4>
            </td>
        </tr>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Palette (width x height)</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:machine_palette]</small>
            </td>
        </tr>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Pressure</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:machine_pressure]</small><small> psi</small>
            </td>
        </tr>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Time</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:machine_time]</small><small> seconds</small>
            </td>
        </tr>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Temperature</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:machine_temperature]</small><small> &#8457;</small>
            </td>
        </tr>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Peel Temperature</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:machine_peelTemp]</small>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr width="100%" />
            </td>
        </tr>
        <tr>
            <td colspan="2" class="cbHTMLBlockContainer">
                <h4>Cover Sheets</h4>
            </td>
        </tr>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Cover Sheet 1</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:coverSheet1]</small>
            </td>
        </tr>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Cover Sheet 2</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:coverSheet2]</small>
            </td>
        </tr>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Cover Sheet 3</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:coverSheet3]</small>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr width="100%" />
            </td>
        </tr>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Custom Transfer Material</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:custom_material]</small>
            </td>
        </tr>
    </tbody>
</table>