<table>
    <tbody>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Embroidery Production Notes</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:embNotes]</small>
            </td>
        </tr>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Twill Color 1</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:twill_01]</small>
            </td>
        </tr>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Twill Color 2</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:twill_02]</small>
            </td>
        </tr>
        <tr>
            <td class="cbHTMLBlockContainer">
                <h5>Twill Color 3</h5>
            </td>
            <td class="cbHTMLBlockContainer collapse">
                <small>[@field:twill_03]</small>
            </td>
        </tr>
    </tbody>
</table>