<script>

  function cancelMessage(formIndex, category) {
    var f = document.forms[formIndex];
    var question = "Are you sure you want to cancel this " + category + "?";

    if (confirm(question)) {
      window.location.assign('[@app:relativeURL_ProofEdit]');
    } else {
      return false;
    }
  }

  function confirmSend(formIndex) {
    var f = document.forms[formIndex];

    /*
    // I'm using template literals instead of normal quotation marks to be able to do a multi-line string. 
    // Trimming it at the end allows you to start it with a line break that will be deleted later.
      var question = `
    Are you ready to send? 
    
    Once you hit OK, this message will be final, and it will be emailed to the customer.
    `.trim();
    */

    // Trying this version with newlines instead, to make this work for Internet Explorer
    var question = "Are you ready to send? \n\nOnce you hit OK, this message will be final, and it will be emailed to the customer."

    if (confirm(question)) {
      f.submit();
    } else {
      return false;
    }
  }

</script>

<button onclick="confirmSend(1);" class="cbButton" id="sendID" type="button">Send</button>
<button onclick="cancelMessage(1,'message');" class="cbButton" id="cancelID" type="button">Cancel</button>