<div class="hidden" id='event_[@field:workOrder_id]_[@field:tblJob_jobID]'>[@field:tblWorkOrder_woEvent]</div>
<h3 id='eventLabel_[@field:workOrder_id]_[@field:tblJob_jobID]' class="hidden">Event</h3>

<script type="text/javascript">
    //event
    var eventStatus = document.getElementById('event_[@field:workOrder_id]_[@field:tblJob_jobID]');
    var eventLabel = document.getElementById('eventLabel_[@field:workOrder_id]_[@field:tblJob_jobID]');

    if (eventStatus.innerHTML == "Yes") {
        eventLabel.className = "event";

    }
</script>