<style type="text/css">
  .proof-message {
    max-width: 310px;
  }

  @media print {
    .thumb {
      max-width: 100px !important;
    }

    .adjust-margin {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }

  /* The Modal style is set in the Caspio Theme Source file, as is the style for .hidden and #deleteID:hover */
</style>

<h2 id="proofsHeader" style="margin-bottom: 14px;">Proof</h2>