<script>

    document.addEventListener('DataPageReady', function (event) {
        if (event.detail.appKey == '1dae6000486f59ba8be54b9e843c') {

            let list_string, arr, arrLen, list_text, j;

            if ("[@calcfield:1]") {
                list_string = "[@calcfield:1]"; //field where you store comma delimited string

                arr = list_string.split(', ');
                arrLen = arr.length;

                list_text = "";
                for (j = 0; j < arrLen; j = j + 4) {
                    if ( !('[@field:Messages_messages_artFile_id]') || (arr[j] !== '[@field:Messages_messages_artFile_id]')) {
                        list_text += "<p><a href='https://" + arr[j+2] + arr[j+3] + "' download target='_blank'>" + arr[j+1].replace(/.*\/+(?!\/)/, '') + "</a></p>";
                    }
                }

                if (list_text !== "") {
                    list_text = "<br /><br /><h4>Supplemental File Links</h4>" + list_text;
                    $('#proofPreview').append(list_text);
                }
            }

        }

    });

</script>