<style type="text/css">
  .thumbnail {
    border-radius: 2px;
  }

  /* The Modal style is set in the Caspio Theme Source file, as is the style for .hidden */

  .version-label {
    max-width: 220px;
  }

  .version-label a {
    font-weight: bold !important;
    font-size: 1.17em !important;
  }

  .dts {
    color: white !important;
    text-align: center;
    background-color: [@app:color_purple_dark];
    padding: 5px !important;
    border-radius: 2px;
    margin-bottom: 5px !important;
    box-sizing: unset;
  }

  .film {
    color: white !important;
    text-align: center;
    background-color: #0072BC;
    padding: 5px !important;
    border-radius: 2px;
    box-sizing: unset;
  }

  .versionEditButton,
  .versionEditButton:hover {
    float: none;
  }
</style>

<h2 id="versionHeaderID">Versions</h2>