<style type="text/css">
    /* The Modal style is set in the Caspio Theme Source file, as is the style for .hidden */

    .thumbnail {
        border-radius: 2px;
        padding: 20px 0;
    }

    .orderNumber {
        color: [@app: color_0_red] !important;
        font-weight: bold !important;
        font-size: 2em !important;
        font-family: Verdana !important;
        display: block !important;
    }

    .job-label {
        color: [@app: color_purple_dark];
        font-weight: bold !important;
        font-size:1.25rem !important;
        margin-right: 15px;
        line-height: 1.25;
        white-space: nowrap;
    }

    .jobStatus0 {
        color: white;
        background-color: [@app: color_4_green];
    }

    .jobStatus1 {
        color: #777777;
        background-color: [@app: color_3_yellow];
    }

    .jobStatus2 {
        color: white;
        background-color: [@app: color_blue];
    }

    .jobStatus3 {
        color: white;
        background-color: [@app: color_purple_dark];
    }

    .jobStatus4 {
        color: white;
        background-color: [@app: color_5_grey];
    }

    .jobStatusStyling {
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        vertical-align: middle;
        font-size: 1rem;
        padding: 1px 6px 1px 6px;
        border-radius: 8px;
        margin: -2px 10px 3px 10px;
        box-sizing: unset;
        /*display: inline-block;*/
        display: none;
    }

    .reorderStyling {
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        vertical-align: middle;
        font-size: 1rem;
        padding: 1px 10px 1px 10px;
        border-radius: 8px;
        margin: -3px 0 0 0;
        box-sizing: unset;
        display: inline-block;
        color: white;
        background-color: [@app:color_purple_medium];
    }

    .job-type {
        color: [@app:color_0_red];
        font-weight: bold;
        font-size: 1.25rem;
        margin-right: 15px;
    }

    .job-location {
        font-weight: bold;
        font-size: 1.25rem;
        margin-right: 15px;
    }

    .bold-data {
        font-weight: bold;
        font-size: 0.8rem;
        display: inline-block;
        margin-right: 15px;
    }

    .job-notes {
        font-weight: bold;
        font-size: 1rem;
    }

    .grey {
        color: [@app:color_5_grey];
    }

    .job-item {
        padding: 0;
    }

    .wrapper {
        width: 800px;
        height: 200px;
        overflow-x: hidden;
        overflow-y: auto;
        resize: vertical;
        position: relative;
    }

    embed {
        width:2500px;
        height:100%;
    }

    .event {
        color: white !important;
        text-align: center;
        background-color: #FF66DD;
        padding: 2px 15px 2px 15px !important;
        border-radius: 10px;
        margin: 0 !important;
        text-transform: uppercase;
        font-weight: 700;
    }

</style>

<div class="container-fluid pt-3">
    <div class="row">
        <div class="col">
            <a href="[@field:tblWorkOrder_edit_URL]" class="orderNumber">[@field:tblWorkOrder_workOrder_id] <span id="eventTag" class="event" style="display: none;">Event</span></a>
            <h1><span class="grey">Jobs Summary:</span> [@field:tblWorkOrder_woDescription]</h1>
            <div id="custNameHeader">
                <p>
                    <span class="nowrap">Date In: [@field:tblWorkOrder_woDateIn*]</span><br>
                    <span id="dateNeeded" class="nowrap">Requested: [@field:tblWorkOrder_woDateNeeded*]</span><br>
                    <span id="tblCustomer_custName" style="font-weight: 700;">[@field:tblWorkOrder_woContactCompanyName]</span> <span id="tblWorkOrder_woContact">[@field:tblWorkOrder_woContact]</span><br>
                    Order Type: <span id="tblWorkOrder_woType" style="font-weight: 700;">[@field:tblWorkOrder_woType]</span><br>
                    Customer PO Number: <span id="tblWorkOrder_woCustPONum" style="font-weight: 700;">[@field:tblWorkOrder_woCustPONum]</span><br>
                    <span id="prevOrderID" style="display:none;">Duplicate of: <span id="tblWorkOrder_prevOrder_id" style="font-weight: 700;">[@field:tblWorkOrder_woOrigin_id]</span></span>
                    <span id="deliveryMethod" style="display:none;">Garments Origin: <span id="tblWorkOrder_woIncomingDelivery" style="font-weight: 700;">[@field:tblWorkOrder_woIncomingDelivery]</span></span>
                    <span id="deliveryNotes" style="display:none;">Notes: <span id="tblWorkOrder_woIncomingDeliveryNotes" style="font-weight: 700;">[@field:tblWorkOrder_woIncomingDeliveryNotes]</span></span>
                    <span id="outgoingDeliveryMethod" style="display:none;">Outbound Delivery: <span id="tblWorkOrder_woOutgoingDelivery" style="font-weight: 700;">[@field:tblWorkOrder_woOutgoingDelivery]</span></span>
                    <span id="outgoingDeliveryMethodNotes" style="display:none;">Outbound Delivery Notes: <span id="tblWorkOrder_woOutgoingDeliveryNotes" style="font-weight: 700;">[@field:tblWorkOrder_woOutgoingDeliveryNotes]</span></span>
                </p>
            </div>
        </div>
        <div class="col-md-3" style="display:none;">
            <figure class="float-end d-none d-xl-block d-print-block">
                <canvas id="qr_proof"></canvas>
                <figcaption style="text-align: center;">View Proof</figcaption>
            </figure>
            <a id="viewProof" class="d-xl-none d-print-none linkButton" style="display:none;">View Proof</a>
            <br>
            <a id="visitProofID" class="linkButton no-print" href="[@field:tblProof_edit_URL]">Visit Proof</a>
        </div>
    </div>
</div>
