  <script type="text/javascript">
      document.addEventListener('DataPageReady', function (event) {
        $('#garmentsOrderReport td:nth-child(9),#garmentsOrderReport th:nth-child(9), #garmentsOrderReport td:nth-child(10),#garmentsOrderReport th:nth-child(10), #garmentsOrderReport td:nth-child(11),#garmentsOrderReport th:nth-child(11), #garmentsOrderReport td:nth-child(12),#garmentsOrderReport th:nth-child(12)').hide();
        $('[title="Edit"]').eq(2).html('<strong><em>BULK ADD ITEMS TO JOB</em></strong>');
      });
  </script>
