<div class="press[@field:color_id] press-preview"></div>

<script type="text/javascript">

    document.addEventListener('DataPageReady', function (event) {

        if ("[@field: color_id]" == "5395" || "[@field: color_id]" == "5454") {
            $("div.press[@field:color_id]").css({
                "padding": "0", "margin": "9px 15px"
            });
        } else if ('[@calcfield:1]') {
            $("div.press[@field:color_id]").css({
                "background-color": "[@calcfield:1]", "color": "[@calcfield:1]"
            });
        } else {
            $("div.press[@field:color_id]").css({
                "background-color": "#E4F0F8", "color": "#E4F0F8"
            });
            $("div.press").css({
                "padding": "10px 0 10px 0", "border": "none"
            });
        }

    $("div.press[@field:color_id]").closest('td').css({
        "background-color": "#E4F0F8", "padding": "4px"
    });

    });
</script>