<br>
Proof Status: <span id="proofStatus-[@field:tblProof_proof_id]" class="statusStyling"></span>
<br>
<script>

  document.addEventListener('DataPageReady', function (event) {

    // Add the proof status
    switch ('[@field:tblProof_proofStatus]') {
      case '0':
        $('#proofStatus-[@field:tblProof_proof_id]').addClass('status0');
        $('#proofStatus-[@field:tblProof_proof_id]').text('Needs Attention');
        break;
      case '1':
        $('#proofStatus-[@field:tblProof_proof_id]').addClass('status1');
        $('#proofStatus-[@field:tblProof_proof_id]').text('New');
        break;
      case '2':
        $('#proofStatus-[@field:tblProof_proof_id]').addClass('status2');
        $('#proofStatus-[@field:tblProof_proof_id]').text('Sent');
        break;
      case '3':
        $('#proofStatus-[@field:tblProof_proof_id]').addClass('status3');
        $('#proofStatus-[@field:tblProof_proof_id]').text('Approved');
        break;
      case '4':
        $('#proofStatus-[@field:tblProof_proof_id]').addClass('status4');
        $('#proofStatus-[@field:tblProof_proof_id]').text('Finalized');
        break;
      case '5':
        $('#proofStatus-[@field:tblProof_proof_id]').addClass('status5');
        $('#proofStatus-[@field:tblProof_proof_id]').text('On Hold');
        break;
      case '6':
        $('#proofStatus-[@field:tblProof_proof_id]').addClass('status6');
        $('#proofStatus-[@field:tblProof_proof_id]').text('Canceled');
    }

  });

</script>