<p>This file will be sent as an attachment to the customer notification email for this message.</p>
<p>If you need to upload a file larger than 25MB, or any additional files, click the Attach File Link button to upload files directly to our website without sending them as email attachments. They will show up in the Attachments column of the Messages report in this proof conversation.</p>