<div id="stampSheet-[@field:tblStampSheet_stampSheet_id]"></div>

<script>

    document.addEventListener('DataPageReady', function (event) {
        if (event.detail.appKey == '1dae6000c0b4315dc12e4492aa14') {

            // Show the Stamp Sheet if it exists. 
            // function displayFileResp(containerDivId, fileName_field, s3URL_field, width, height, classname) is defined in the Navigation Menu datapage.
            // Classname is optional, and will be given the default value of 'display-file' if not specified.

            displayFileResp('stampSheet-[@field:tblStampSheet_stampSheet_id]', '[@field:tblArtFile_artFile_filename/]', '[@field:tblArtFile_artFile_URL]', 310, 400);
        }

    });

</script>