<button
onclick="window.location.assign('[@app:relativeURL_ArtworkNew]');"
    class="cbButton" id="addNewID" type="submit" style="float:left;">Add New</button>

<button id="btnReset" class="cbButton" type="submit" style="float:left;" onclick="resetSearch('Artwork', '[@cbHostPage]');">Reset</button>

<button
onclick="window.location.assign('[@app:relativeURL_ArtworkGarmentSearch]');"
    class="cbButton" id="artGarmentSearch" type="submit" style="float:left;">Search by Garment Size</button>

<script type="text/javascript">

    document.addEventListener('DataPageReady', function (event) {
        var addButton = $('#addNewID');
        var resetButton = $('#btnReset');
        var artGarmentSearchButton = $('#artGarmentSearch');
        var searchButton = $('input[name="searchID"]');
        $($(searchButton).closest('td')).append(addButton);
        $($(searchButton).closest('td')).append(resetButton);
        $($(searchButton).closest('td')).append(artGarmentSearchButton);
    });    

</script>
