<div id="version-[@field:tblThumbnail_thumb_id]"></div>

<br />

<div class="hidden" id='dts_[@field:tblThumbnail_thumb_id]'>[@field:tblThumbnail_dts]</div>
<h3 id='dtsLabel_[@field:tblThumbnail_thumb_id]' class="hidden">DTS</h3>

<div class="hidden" id='film_[@field:tblThumbnail_thumb_id]'>[@field:tblThumbnail_film]</div>
<h3 id='filmLabel_[@field:tblThumbnail_thumb_id]' class="hidden">FILM</h3>

<script>

  document.addEventListener('DataPageReady', function (event) {
    if (event.detail.appKey == '1dae60004efb022d695248c1a187') {

      // Show the File if it exists. 
      // function displayFileResp(containerDivId, fileName_field, s3URL_field, width, height, classname = 'display-file', bgcolor = '#FFFFFF') is defined in caspioFunctionsXXX.js.
      // Classname must be explicitly passed if bgcolor needs to be passed.

      displayFileResp('version-[@field:tblThumbnail_thumb_id]', '[@field:tblArtFile_artFile_filename/]', '[@field:tblArtFile_artFile_URL]', 220, 220, 'thumbnail', '[@field:tblThumbnail_bgcolor]');

      //DTS
      var dtsStatus = document.getElementById('dts_[@field:tblThumbnail_thumb_id]');
      var dtsLabel = document.getElementById('dtsLabel_[@field:tblThumbnail_thumb_id]');

      if (dtsStatus.innerHTML == "Yes") {
        dtsLabel.className = "dts";

      }

      //FILM
      var filmStatus = document.getElementById('film_[@field:tblThumbnail_thumb_id]');
      var filmLabel = document.getElementById('filmLabel_[@field:tblThumbnail_thumb_id]');

      if (filmStatus.innerHTML == "Yes") {
        filmLabel.className = "film";

      }
    }

  });

</script>