<div name="wo-[@field:workOrder_id]" style="white-space: nowrap;">
    <div class="status-po status-bgColor[@field:tblWorkOrder_woOrderDataStatus]"></div>
    <div class="status-garment status-bgColor[@field:tblWorkOrder_woGarmentStatus]"></div>
    <div class="status-art status-bgColor[@field:tblWorkOrder_woArtStatus]"></div>
</div>

<script>

    document.addEventListener('DataPageReady', function (event) {
        // This function will hide any duplicate rows for work orders with multiple jobs.
        var i_[@field: tblJob_jobID];
        for (i_[@field: tblJob_jobID] = 1; i_[@field: tblJob_jobID]< $('[name="wo-[@field:workOrder_id]"]').length; i_[@field: tblJob_jobID]++) {
        $($('[name="wo-[@field:workOrder_id]"]')[i_[@field: tblJob_jobID]]).closest('tr').css("display", "none");
    }

    // Hide this entire column of results
    // $($('[name="wo-[@field:workOrder_id]"]').closest('td')).css("display", "none");

    });

</script>