<script type="text/javascript">

    document.addEventListener('DataPageReady', function (event) {

        let list_string, arr, arrLen, text, i;
        text = "";

        switch ('[@field:jobDept]') {
            case 'SP':
                if ("[@calcfield:20]") {
                    list_string = "[@calcfield:20]"; //field where you store comma delimited string

                    arr = list_string.split(', ');
                    arr.reverse(); // The data is often saved in reverse order, so I'm trying it out to see what it looks like reversed back.
                    arrLen = arr.length;

                    text += "<h1 class='clear-both' style='padding-top:20px;'>Ink Colors Used</h1>";
                    for (i = 0; i < arrLen; i = i + 2) {
                        text += "<div class='card d-block' style='background: " + arr[i + 1] + ";'><div class='card-body'><span class='card-text'>" + arr[i] + "</span></div></div>";
                    }

                    document.getElementById("color-cards").innerHTML = text;
                }
            case 'EMB':
                if ("[@calcfield:21]") {
                    list_string = "[@calcfield:21]"; //field where you store comma delimited string

                    arr = list_string.split(', ');
                    arr.reverse(); // The data is often saved in reverse order, so I'm trying it out to see what it looks like reversed back.
                    arrLen = arr.length;

                    text += "<h1 class='clear-both' style='padding-top:20px;'>Thread Colors Used</h1>";
                    for (i = 0; i < arrLen; i = i + 2) {
                        text += "<div class='card d-block' style='background: " + arr[i + 1] + ";'><div class='card-body'><span class='card-text'>" + arr[i] + "</span></div></div>";
                    }

                    document.getElementById("color-cards").innerHTML = text;
                }
                if ("[@calcfield:22]") {
                    list_string = "[@calcfield:22]"; //field where you store comma delimited string

                    arr = list_string.split(', ');
                    arr.reverse(); // The data is often saved in reverse order, so I'm trying it out to see what it looks like reversed back.
                    arrLen = arr.length;

                    text += "<h1 class='clear-both' style='padding-top:20px;'>Twill Colors Used</h1>";
                    for (i = 0; i < arrLen; i = i + 2) {
                        text += "<div class='card d-block' style='background: " + arr[i + 1] + ";'><div class='card-body'><span class='card-text'>" + arr[i] + "</span></div></div>";
                    }

                    document.getElementById("color-cards").innerHTML = text;
                }
        }
    });
</script>