<style type="text/css">
  .notice {
    font-style: italic;
    font-weight: bold;
    text-shadow: 0px 1px 7px #33EE22;
    font-family: sans-serif;
  }
</style>

<span class="notice">When you are in Grid Edit, you can drag to resize the columns in the search results below. <br />
  Make sure to type "Enter" after editing a cell.</span>