<script type="text/javascript">
    function formatPage(event) {
        if (event.detail.appKey == '1dae60001dad593c13b64fa0a2af') {
            //Hide all table headers, and all calculated field columns
            $('table[data-cb-name="cbTable"] th').css('display', 'none');
            $('table[data-cb-name="cbTable"] td:nth-of-type(2)').css('display', 'none');
            $('table[data-cb-name="cbTable"] td:nth-of-type(3)').css('display', 'none');
            $('table[data-cb-name="cbTable"] td:nth-of-type(4)').css('display', 'none');
            $('table[data-cb-name="cbTable"] td:nth-of-type(5)').css('display', 'none');
            $('table[data-cb-name="cbTable"] td:nth-of-type(6)').css('display', 'none');
            $('table[data-cb-name="cbTable"] td:nth-of-type(7)').css('display', 'none');
            $('table[data-cb-name="cbTable"] td:nth-of-type(8)').css('display', 'none');
            $('table[data-cb-name="cbTable"] td:nth-of-type(9)').css('display', 'none');

            let boldDataEmpty = document.querySelectorAll('.bold-data:empty');
            for (let i = 0; i < boldDataEmpty.length; i++) {
                boldDataEmpty[i].parentElement.removeChild(boldDataEmpty[i]);
            }
            let formatWidth = document.querySelectorAll('.format-width');
            for (let j = 0; j < formatWidth.length; j++) {
                if ( !(formatWidth[j].innerHTML).includes('Width') ) {
                    formatWidth[j].innerHTML = '<span class="grey">Width: </span>' + formatWidth[j].innerHTML + '\"';
                }
            }
            let formatHeight = document.querySelectorAll('.format-height');
            for (let k = 0; k < formatHeight.length; k++) {
                if ( !(formatHeight[k].innerHTML).includes('Height') ) {
                    formatHeight[k].innerHTML = '<span class="grey">Height: </span>' + formatHeight[k].innerHTML + '\"';
                }
            }
            let formatNumColors = document.querySelectorAll('.format-numColors');
            for (let m = 0; m < formatNumColors.length; m++) {
                if ( !(formatNumColors[m].innerHTML).includes('Colors') ) {
                    formatNumColors[m].innerHTML = '<span class="grey">Colors: </span>' + formatNumColors[m].innerHTML;
                }
            }
            let formatStitches = document.querySelectorAll('.format-stitches');
            for (let n = 0; n < formatStitches.length; n++) {
                if ( !(formatStitches[n].innerHTML).includes('Stitches') ) {
                    formatStitches[n].innerHTML = '<span class="grey">Stitches: </span>' + formatStitches[n].innerHTML;
                }
            }
            let formatFilename = document.querySelectorAll('.format-filename');
            for (let o = 0; o < formatFilename.length; o++) {
                if ( !(formatFilename[o].innerHTML).includes('File Name') ) {
                    formatFilename[o].innerHTML = '<span class="grey">File Name: </span>' + formatFilename[o].innerHTML;
                }
            }

            // add the Proof ArtFile QR Code, plus the link for smaller screens
            var qr_link = '[@field:tblProof_artfile_preview_URL]'
            var qr_URL = 'https://three-twins.com/' + qr_link.replace('amp;', '');
            if (qr_link) {
                // make the QR code and write it to the page
                var qr = new QRious({
                    element: document.getElementById('qr_proof'),
                    size: 150,
                    level: 'L',
                    value: qr_URL
                });
                $('#qr_proof').closest('div').css('display', 'block');

                // add the URL to the link for smaller screens
                document.getElementById('viewProof').href = qr_URL;
                $('#viewProof').css('display', 'block');
            }

            // Change the record count to reflect how many jobs are in the order itself, and only show at the top of the page
            $('.cbRecordCountMessage').css('display', 'none');
            $($('.cbRecordCountMessage')[0]).css('display', 'block');
            $($('.cbRecordCountMessage')[0]).text('Total Jobs in Order: [@calcfield:8]');

            //remove the datapage embed script, to allow for iframes
            let datapageEmbedScript = document.querySelector('script[src^="1dae60001dad593c13b64fa0a2af/emb"]');
            if (datapageEmbedScript) {
                datapageEmbedScript.parentElement.removeChild(datapageEmbedScript);
            }
        }

    }

    document.addEventListener('DataPageReady', formatPage);

      // Show the Event status if the Order is an event

      if ('[@field:tblWorkOrder_woEvent]' == 'Yes') {
          $('#eventTag').css("display", "inline-block");
          $('#dateNeeded').addClass("event");
      }

      // Show the previous Order ID if it exists
      if ('[@field:tblWorkOrder_prevOrder_id]') {
          $('#prevOrderID').css("display", "block");
      }

      // Show the Incoming delivery method if it exists
      if ('[@field:tblWorkOrder_woIncomingDelivery]') {
          $('#deliveryMethod').css("display", "block");
      }

      // Show the delivery notes if they exist
      if ('[@field:tblWorkOrder_woIncomingDeliveryNotes]') {
          $('#deliveryNotes').css("display", "block");
      }

      // Show the Outgoing delivery method if it exists
      if ('[@field:tblWorkOrder_woOutgoingDelivery]') {
          $('#outgoingDeliveryMethod').css("display", "block");
      }

      // Show the Outgoing delivery method notes if they exist
      if ('[@field:tblWorkOrder_woOutgoingDeliveryNotes]') {
          $('#outgoingDeliveryMethodNotes').css("display", "block");
      }

</script>
