<table>
    <tbody>
        <tr class="sp-collapse">
            <td class="cbHTMLBlockContainer" style="text-align: right;">
                <h5>Pricing Grid</h5>
            </td>
            <td class="cbHTMLBlockContainer empty-collapse" style="text-align: right;">
                <span>[@field:pricingGrid]</span>
            </td>
        </tr>
        <tr class="emb-collapse">
            <td class="cbHTMLBlockContainer" style="text-align: right;">
                <h5>Job Detail</h5>
            </td>
            <td class="cbHTMLBlockContainer empty-collapse" style="text-align: right;">
                <span>[@field:jobDetail]</span>
            </td>
        </tr>
        <tr class="art-hide">
            <td class="cbHTMLBlockContainer" style="text-align: right;">
                <h5>Quantity</h5>
            </td>
            <td class="cbHTMLBlockContainer" style="text-align: right;">
                <span>[@field:quantity]</span>
            </td>
        </tr>
        <tr class="art-hide">
            <td class="cbHTMLBlockContainer" style="text-align: right;">
                <h5>Per Piece Price</h5>
            </td>
            <td class="cbHTMLBlockContainer" style="text-align: right;">
                <span>[@field:perPiecePrice$]</span>
            </td>
        </tr>
        <tr class="art-hide">
            <td colspan="2">
                <hr width="100%" />
            </td>
        </tr>
        <tr class="art-hide">
            <td class="cbHTMLBlockContainer" style="text-align: right;">
                <h5>Pieces Subtotal</h5>
            </td>
            <td class="cbHTMLBlockContainer" style="text-align: right;">
                <span>[@field:piecesSubtotal$]</span>
            </td>
        </tr>
        <tr class="emb-collapse">
            <td class="cbHTMLBlockContainer" style="text-align: right;">
                <h5>Setup/Thread Charge</h5>
            </td>
            <td class="cbHTMLBlockContainer empty-collapse" style="text-align: right;">
                <span>[@field:setupCharge$]</span>
            </td>
        </tr>
        <tr class="emb-collapse">
            <td class="cbHTMLBlockContainer" style="text-align: right;">
                <h5>Digitize Charge</h5>
            </td>
            <td class="cbHTMLBlockContainer empty-collapse" style="text-align: right;">
                <span>[@field:digitizeCost$]</span>
            </td>
        </tr>
        <tr class="sp-collapse">
            <td class="cbHTMLBlockContainer" style="text-align: right;">
                <h5>Screen Charge</h5>
            </td>
            <td class="cbHTMLBlockContainer empty-collapse" style="text-align: right;">
                <span>[@field:screenCharge$]</span>
            </td>
        </tr>
        <tr class="discontinued">
            <td class="cbHTMLBlockContainer" style="text-align: right;">
                <h5>Rush Charge</h5>
            </td>
            <td class="cbHTMLBlockContainer empty-collapse" style="text-align: right;">
                <span>[@field:rushCharge$]</span>
            </td>
        </tr>
        <tr>
            <td class="cbHTMLBlockContainer" style="text-align: right;">
                <h5>Art Charge</h5>
            </td>
            <td class="cbHTMLBlockContainer empty-collapse" style="text-align: right;">
                <span>[@field:artCharge$]</span>
            </td>
        </tr>
        <tr class="discontinued">
            <td class="cbHTMLBlockContainer" style="text-align: right;">
                <h5>Color Change Charge</h5>
            </td>
            <td class="cbHTMLBlockContainer empty-collapse" style="text-align: right;">
                <span>[@field:colorChangeCharge$]</span>
            </td>
        </tr>
        <tr class="sp-collapse">
            <td class="cbHTMLBlockContainer" style="text-align: right;">
                <h5>Fleece UpCharge</h5>
            </td>
            <td class="cbHTMLBlockContainer empty-collapse" style="text-align: right;">
                <span>[@field:fleeceCharge$]</span>
            </td>
        </tr>
        <tr class="sp-collapse">
            <td class="cbHTMLBlockContainer" style="text-align: right;">
                <h5>Ink Mixing Charge</h5>
            </td>
            <td class="cbHTMLBlockContainer empty-collapse" style="text-align: right;">
                <span>[@field:inkmixCharge$]</span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr width="100%" />
            </td>
        </tr>
        <tr>
            <td class="cbHTMLBlockContainer" style="text-align: right;">
                <h4>Billed</h4>
            </td>
            <td class="cbHTMLBlockContainer" style="text-align: right;">
                <span><strong>[@field:subtotal$]</strong></span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr width="100%" />
            </td>
        </tr>
        <tr>
            <td colspan="2" class="cbHTMLBlockContainer">
                <table>
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align: center;">
                                <h5>Revenue Breakdown</h5>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="cbHTMLBlockContainer">
                                <h6>Artwork</h6>
                            </td>
                            <td class="cbHTMLBlockContainer">
                                <h6>Embroidery</h6>
                            </td>
                            <td class="cbHTMLBlockContainer">
                                <h6>Screening</h6>
                            </td>
                            <td class="cbHTMLBlockContainer">
                                <h6>Transfer</h6>
                            </td>
                        </tr>
                        <tr>
                            <td class="cbHTMLBlockContainer" style="font-size: 0.8rem;">
                                [@field:artRevenue$]
                            </td>
                            <td class="cbHTMLBlockContainer" style="font-size: 0.8rem;">
                                [@field:embRevenue$]
                            </td>
                            <td class="cbHTMLBlockContainer" style="font-size: 0.8rem;">
                                [@field:screeningRevenue$]
                            </td>
                            <td class="cbHTMLBlockContainer" style="font-size: 0.8rem;">
                                [@field:heatSealRevenue$]
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>