<g class="highcharts-legend" data-z-index="7" transform="translate(1136,89)" aria-hidden="true">
    <rect fill="#E4F0F8" class="highcharts-legend-box" rx="0" ry="0" stroke="#522994" stroke-width="1" x="0.5" y="0.5"
        width="62" height="36" visibility="visible"></rect>
    <g data-z-index="1">
        <g>
            <g class="highcharts-legend-item highcharts-column-series highcharts-color-0 highcharts-series-0"
                data-z-index="1" transform="translate(8,3)"><text x="21"
                    style="color:#000000;cursor:default;font-size:10px;font-weight:normal;font-style:normal;font-family:Arial;fill:#000000;"
                    text-anchor="start" data-z-index="2" y="13">
                    <tspan>Hours</tspan>
                </text>
                <rect x="3" y="4" width="10" height="10" fill="#3186AD" rx="5" ry="5" class="highcharts-point"
                    data-z-index="3"></rect>
            </g>
            <g class="highcharts-legend-item highcharts-column-series highcharts-color-1 highcharts-series-1"
                data-z-index="1" transform="translate(8,16)"><text x="21" y="13"
                    style="color:#000000;cursor:default;font-size:10px;font-weight:normal;font-style:normal;font-family:Arial;fill:#000000;"
                    text-anchor="start" data-z-index="2">
                    <tspan>Jobs</tspan>
                </text>
                <rect x="3" y="4" width="10" height="10" fill="#72A435" rx="5" ry="5" class="highcharts-point"
                    data-z-index="3"></rect>
            </g>
        </g>
    </g>
</g>