<a href="[@field:tblJob_edit_URL]" target="_blank" class="jobNumber">[@field:tblJob_jobNumber]</a>
<br /><br />
Order:<br />
<b>[@field:Description]</b>
<br /><br />
Date In: <b>[@field:Date_In*]</b>&nbsp;&nbsp;&nbsp;&nbsp;<span class="afterNeedDate[@field:tblWorkOrder_need_before_production]">Date Requested: <b>[@field:Date_Needed*]</b></span>&nbsp;&nbsp;&nbsp;&nbsp;Production Date: <b>[@field:tblJob_productionDate*]</b>
<div class="alert alert-danger hidden late[@field:tblWorkOrder_need_before_production]" style="margin-top: 10px; margin-bottom: -12px;" role="alert">
  Production Date is later than Date Requested
</div>
<div class="alert alert-info hidden early[@field:tblWorkOrder_need_before_production]" style="margin-top: 10px; margin-bottom: -12px;" role="alert">
  Production Date is earlier than Date Requested
</div>
<div id="jobThumb" class="float-right"></div>
<br class="clear" />

<script>

    document.addEventListener('DataPageReady', function (event) {
        if (event.detail.appKey == '1dae600078e134e8f86a40468465') {

            // Move the thumbnail div
            $($('.jobNumber').closest('form')).prepend($('#jobThumb'));
            $('#jobThumb').empty();

            // Show the thumbnail if the job has an art log number

            // Show the File if it exists. 
            // function displayFileResp(containerDivId, fileName_field, s3URL_field, width, height, classname) is defined in the Navigation Menu datapage.
            // Classname is optional, and will be given the default value of 'display-file' if not specified.

            displayFileResp('jobThumb', '[@field:tblArtFile_artFile_filename/]', '[@field:tblArtFile_artFile_URL]', 310, 400, 'thumb');
        }

    });


</script>