<script type="text/javascript">
    document.addEventListener('DataPageReady', function (event) {

        // Continuing where HTML Block 1 left off
        
        // TRF Job Data fields
        if ($('#jobData-TRF')) {
            $('#prodDataTRF_trfNotes').html('[@field:tblJob_prodNotes]');
            $('#prodDataTRF_machine_palette').html('[@field:tblJob_machine_palette]');
            $('#prodDataTRF_machine_pressure').html('[@field:tblJob_machine_pressure]');
            $('#prodDataTRF_machine_time').html('[@field:tblJob_machine_time]');
            $('#prodDataTRF_machine_temperature').html('[@field:tblJob_machine_temperature]');
            $('#prodDataTRF_machine_peelTemp').html('[@field:tblJob_machine_peelTemp]');
            $('#prodDataTRF_coverSheet1').html('[@field:tblJob_coverSheet1]');
            $('#prodDataTRF_coverSheet2').html('[@field:tblJob_coverSheet2]');
            $('#prodDataTRF_coverSheet3').html('[@field:tblJob_coverSheet3]');
            $('#prodDataTRF_custom_material').html('[@field:tblJob_custom_material]');
            $('#prodDataTRF_names_collection').html('[@field:tblJob_names_collection]');
            $('#prodDataTRF_names_material').html('[@field:tblJob_names_material]');
            $('#prodDataTRF_names_format').html('[@field:tblJob_names_format]');
            $('#prodDataTRF_names_font').html('[@field:tblJob_names_font]');
            $('#prodDataTRF_names_height').html('[@field:tblJob_names_height]');
            $('#prodDataTRF_names_maxWidth').html('[@field:tblJob_names_maxWidth]');
            $('#prodDataTRF_names_color').html('[@field:tblJob_names_color]');
            $('#prodDataTRF_numbers_collection').html('[@field:tblJob_numbers_collection]');
            $('#prodDataTRF_numbers_material').html('[@field:tblJob_numbers_material]');
            $('#prodDataTRF_numbers_font').html('[@field:tblJob_numbers_font]');
            $('#prodDataTRF_numbers_height').html('[@field:tblJob_numbers_height]');
            $('#prodDataTRF_numbers_insideColor').html('[@field:tblJob_numbers_insideColor]');
            $('#prodDataTRF_numbers_outsideColor').html('[@field:tblJob_numbers_outsideColor]');
            $('#prodDataTRF_numbers_type').html('[@field:tblJob_numbers_type]');
        }
    });
</script>

<table style="display:none;"><tr><td>
