<button style="margin-bottom: 1rem;" class="cbButton" type="button" data-bs-toggle="modal" data-bs-target="#cb-modal" onclick="openModal(
      'Duplicate Jobs From Other Order', 
      '1dae60007b099e1331294a70bf39', 
      '?order_destination=[@field:tblWorkOrder_workOrder_id]&woQuantity=[@field:tblWorkOrder_woQuantity]'
    );">
  Duplicate Jobs From Other Order
</button>

<br />

<button id="newJobID" class="cbButton" type="button"
  onclick="checkStatusBilled([@field:tblWorkOrder_woStatus#], function(){window.location.assign('[@field:tblWorkOrder_new_job_URL]');}, 'Order');">New
  Job</button>

<button id="newProofID" class="cbButton hidden" type="button"
  onclick="checkStatusBilled([@field:tblWorkOrder_woStatus#], function(){window.location.assign('[@field:tblWorkOrder_new_proof_URL]');}, 'Order');">New
  Proof</button>

<button id="newStampID" class="cbButton" type="button"
  onclick="window.location.assign('[@field:tblWorkOrder_visit_stamp_URL]');">View
  Stamp Sheet</button>

<button id="visitGarmentsID" class="cbButton" type="button"
  onclick="window.location.assign('[@app:relativeURL_garmentsByOrderID][@field:tblWorkOrder_workOrder_id]')">Visit
  Garments</button>