<div class="statusLabelContainer">
    <h3>Order Data</h3>
    <div id="orderDataStatus_[@field:tblWorkOrder_workOrder_id]"
        class="statusStyling status[@field:Status_OrderData_orderDataStatusCode]">
        [@field:Status_OrderData_orderDataStatusDesc]
    </div>
</div>

<div class="statusLabelContainer">
    <h3>Garments</h3>
    <div id="garmentStatus_[@field:tblWorkOrder_workOrder_id]"
        class="statusStyling status[@field:Status_Garment_garmentStatusCode]">[@field:Status_Garment_garmentStatusDesc]
    </div>
</div>

<div class="statusLabelContainer">
    <h3>Artwork</h3>
    <div id="artStatus_[@field:tblWorkOrder_workOrder_id]"
        class="statusStyling status[@field:Status_Art_artStatusCode]">[@field:Status_Art_artStatusDesc]
    </div>
</div>


<script>

    document.addEventListener('DataPageReady', function (event) {

        $($('.statusLabelContainer')[0]).closest('tr').addClass('no-print');

        if ('[@field:Status_Art_artStatusDesc]' == 'Waiting' && '[@field:tblWorkOrder_proof_1_key]') {
            $('#artStatus_[@field:tblWorkOrder_workOrder_id]').text('Needs Attention');
        }

    });

</script>