<button class="cbButton" type="button" data-bs-toggle="modal" data-bs-target="#cb-modal"
  onclick="openModal(
      'Edit Order Details', 
      '1dae60008220e0373e43445f82e8', 
      '?calendar_Order_id=[@field:WorkOrder]'
    );">
  Edit Order Details
</button>

<button id="visitProofID" class="cbButton" type="button"
        onclick="window.location.assign('[@app:relativeURL_ProofEdit][@calcfield:2]')">Visit Proof</button>

<button id="visitGarmentsID" class="cbButton" type="button"
        onclick="window.location.assign('[@app:relativeURL_garmentsByOrderID][@field:WorkOrder]')">Visit Garments</button>