<div id="version-[@field:tblThumbnail_thumb_id]"></div>

<script>

  document.addEventListener('DataPageReady', function (event) {
    if (event.detail.appKey == '1dae600090094020c2be46ff92aa') {

      // Show the File if it exists. 
      // function displayFileResp(containerDivId, fileName_field, s3URL_field, width, height, classname = 'display-file', bgcolor = '#FFFFFF') is defined in caspioFunctionsXXX.js.
      // Classname must be explicitly passed if bgcolor needs to be passed.

      displayFileResp('version-[@field:tblThumbnail_thumb_id]', '[@field:tblArtFile_artFile_filename/]', '[@field:tblArtFile_artFile_URL]', 100, 100, 'thumbnail', '[@field:tblThumbnail_bgcolor]');
    }

  });

</script>