<br /><button class="cbButton" id="prodTRFsaveID" type="submit">Save</button>

<button id="prodTRFcancelID" class="cbButton" type="button"
    onclick="document.getElementById('cbParamVirtual13').click();document.getElementById('jobDetailsLayout').style.display = 'block';">Cancel</button>