<button id="editJobDetailsID" class="btn cbButton-blue no-print" type="button" data-bs-toggle="modal" data-bs-target="#cb-modal"
  onclick="checkStatusBilled([@field:tblJob_jobStatus#], function(){
    openModal(
      'Edit Job Details', 
      '1dae600041a65c0ab6f54bdb835f', 
      '?InsertRecordjobID=[@field:tblJob_jobID]&editJob_jobReorder=[@field:tblJob_jobReorder]&editJob_oversizeScreen=[@field:tblJob_oversizeScreen]&editJob_discountScreen=[@field:tblJob_setupReq]'
    );
  }, 'Job');">
  Edit Job Details
</button>

<button id="editprodDataID" class="btn cbButton-blue no-print" type="button"
  onclick="checkStatusBilled([@field:tblJob_jobStatus#], function(){document.getElementById('jobDetailsLayout').style.display = 'none';document.getElementById('emb_prodDataView').style.display = 'none';document.getElementById('sp_prodDataForm').style.display = 'block';document.getElementById('emb_prodDataForm').style.display = 'block';if(document.getElementById('cbParamVirtual4')){document.getElementById('cbParamVirtual4').click();}if(document.getElementById('cbParamVirtual12')){document.getElementById('cbParamVirtual12').click();}if(document.getElementById('cbParamVirtual13')){document.getElementById('cbParamVirtual13').click();}}, 'Job');">Edit
  Production Data</button>

<button id="editJobGarmentsID" class="btn cbButton-blue no-print" type="button"
  onclick="checkStatusBilled([@field:tblJob_jobStatus#], function(){window.location.assign('[@field:tblJob_editGarments_URL]');}, 'Job');">Edit
  Job Garments</button>