<br><div name="wo-[@field:WorkOrder]" style="display:inline-block;background-color:white;border-radius:3px;font-size:smaller;padding:0px 3px 0px 3px;"><a
    href="#"
    data-bs-toggle="modal"
    data-bs-target="#cb-modal"
    onclick="openModal(
        'Edit Order Details', 
        '1dae60008220e0373e43445f82e8', 
        '?calendar_Order_id=[@field:WorkOrder]'
      );"><span
        style="color:#522994"><b>[@field:WorkOrder]</b></span></a></div><span
    style="font-size: smaller; white-space: nowrap;"> in [@calcfield:1], <span class="afterNeedDate[@field:tblWorkOrder_need_before_production]">req [@calcfield:2]</span></span>

<script>

    document.addEventListener('DataPageReady', function (event) {
        // This function will hide any duplicate rows for work orders with multiple jobs.
        var i_[@field:tblJob_jobID];
        for (i_[@field:tblJob_jobID] = 1; i_[@field:tblJob_jobID]< $('[name="wo-[@field:WorkOrder]"]').length; i_[@field:tblJob_jobID]++) {
        $($('[name="wo-[@field:WorkOrder]"]')[i_[@field:tblJob_jobID]]).parent().closest('div').css("display", "none");
    }

    });

</script>