<style>

    label {
        text-wrap: nowrap;
    }

</style>

</header><div class="d-none d-xl-block d-print-none"><div><header>
<h2>Generate Box Labels</h2>
<p>This form will not show when printing.</p>
<p>All form fields except the Order ID will reset once the form has been submitted.</p>
