<button
    onclick="window.open('https://c0dca200.caspio.com/dp/1dae600056eb1e391da44ff0ab4e?cbResetParam=1', '', 'resizable=yes,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no,width=1100,left=500,height=500,top=300'); return false;"
    class="cbButton" id="addGarmentsID" type="button" style="float:left;">Add Box</button>

<button id="btnReset" class="cbButton" type="submit" style="float:left;" onclick="resetSearch('Garments', '[@cbHostPage]');">Reset</button>

<script type="text/javascript">

    document.addEventListener('DataPageReady', function (event) {
        var addButton = $('#addGarmentsID');
        var resetButton = $('#btnReset');
        var searchButton = $('input[name="searchID"]');
        $($(resetButton).closest('td')).append(addButton);
        $($(searchButton).closest('td')).append(resetButton);
    });    

</script>
