<a href="https://[@field:Garments_Boxes_Search_URL]" target="_blank">[@field:PSST_TrackingNo]</a>
<div style="float: right;">
  &nbsp;&nbsp;&nbsp;<a id="scan-[@field:PSST_psst_id]" href="#" role="button" data-bs-toggle="modal" data-bs-target="#cb-modal"
    onclick="
      $('#cb-modal-dialog').removeClass('modal-datapage-container').removeClass('modal-larger-dialog');
      openModal(
        'Receive Box', 
        '1dae60002566544962864411aa25', 
        '?TrackingNo=[@field:PSST_TrackingNo]'
      );
    ">Receive Box</a>

  <span style="white-space:nowrap;">&nbsp;&nbsp;&nbsp;<a href="#" role="button" data-bs-toggle="modal" data-bs-target="#cb-modal"
      onclick="
        $('#cb-modal-dialog').removeClass('modal-datapage-container').addClass('modal-larger-dialog');
        openModal(
          'Edit/Add Items', 
          '1dae6000bcb0b9a06b9841e2a9c0', 
          '?cbResetParam=1&garments_CustomerInvoiceNo=[@field:PSST_CustomerInvoiceNo]&garments_TrackingNo=[@field:PSST_TrackingNo]&garments_Order_id=[@field:PSST_workOrder_id]&garments_CustCode=[@field:Garments_Items_CustCode]&garments_ShipVia=[@field:Garments_Items_ShipVia_endcodedForURL]&garments_ShipDate=[@field:PSST_ShipDate]&garments_Distributor=[@field:Garments_Items_Distributor_encodedForURL]&garments_Whse=[@field:PSST_Whse]&garments_CustomerName=[@field:Garments_Items_CustomerName_encodedForURL]&garments_CustomerPO=[@field:Garments_Items_CustomerPO_encodedForURL]&garments_CustomerAccount=[@field:Garments_Items_CustomerAccount]'
        );
      ">Edit/Add Items</a></span>
</div>
