<link href='//fonts.googleapis.com/css?family=Montserrat:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css' />

<style type="text/css">

h2 {
    font-family: "Montserrat" !important;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.1em;
    letter-spacing: 0.03em;
}

</style>


<h2>Order Details - <b>[@field:workOrder_id]</b></h2>