<p>These labels are formatted to print correctly on a size A6 or similar sheet (roughly 4" wide x 6" tall).</p>
<p>Make sure to set your page margins to "None" and your scale to either "Default" or 100% when printing.</p>

</footer></div></div><footer>
