<h3 style="white-space: nowrap; display: inline;">Order [@field:workOrder_id]</h3>
<a class="linkButton" href="[@field:edit_URL]" style="margin-top: -4px !important;">Visit Order</a>
&nbsp;&nbsp;
<a class="linkButton" href="[@field:order_labels_URL]" style="margin-top: -4px !important;">Print Box Labels</a>
