<table style="font-family: Arial, sans-serif;">
    <tbody>
        <tr>
            <td style="padding: 5px 10px 5px 10px;line-height: 1.5em;">
                <strong>Order ID:</strong>&nbsp;[@field:PSST_workOrder_id]<br />
                <strong>Customer:</strong>&nbsp;[@field:tblCustomer_custDropdown]<br />
                <strong>Customer PO:</strong>&nbsp;[@field:PSST_CustomerPO]<br />
                <strong>Customer Invoice Number:</strong>&nbsp;[@field:PSST_CustomerInvoiceNo]<br />
                <small>(either assigned by the distributor or at random)</small>
            </td>
            <td style="padding: 5px 10px 5px 10px;line-height: 1.5em;">
                <strong>Distributor:</strong>&nbsp;[@field:Garments_Items_Distributor]<br />
                <strong>Warehouse:</strong>&nbsp;[@field:PSST_Whse]<br />
                <strong>Ship Date:</strong>&nbsp;[@field:PSST_ShipDate*]<br />
                <strong>Carrier:</strong>&nbsp;[@field:PSST_ShipVia]<br />
                <strong>Tracking Number:</strong>&nbsp;[@field:PSST_TrackingNo]
            </td>
        </tr>
    </tbody>
</table>
