<div class="box-label">
    <div class="row d-flex justify-content-between">
        <div class="col">
            <h1 class="bold-header">[@field:cust_code]</h1>
        </div>
        <div class="col" style="display:none;">
            <figure class="float-end d-none d-xl-block d-print-block">
                <canvas id="qr_proof_[@field:box_number]"></canvas>
                <figcaption style="text-align: center;">View Proof</figcaption>
            </figure>
        </div>
    </div>
    <div class="row d-flex align-items-start" style="height: 3.6in;">
        <div class="col-12 text-center">
            <h3 class="order-number">[@field:order_id]</h3>
            <h6 class="po-number">PO: [@field:order_PO]</h6>
        </div>
        <div class="col-12 text-center d-flex justify-content-center mb-auto">
            <h2 class="description">[@field:label_description]</h2>
        </div>
    </div>
    <div class="row d-flex justify-content-between">
        <div class="col">
            <h1 class="bold-footer">[@field:order_dept]</h1>
        </div>
        <div class="col">
            <h1 class="float-end bold-footer">[@calcfield:3!]</h1>
        </div>
    </div>
</div>

<script>

    document.addEventListener('DataPageReady', function (event) {
        if (event.detail.appKey == '1dae6000b5436bac3651483a875e') {

            // add the Proof ArtFile QR Code
            var qr_link = '[@field:qr_code_link]'
            var qr_URL = 'https://three-twins.com/' + qr_link.replace('amp;', '');
            if (qr_link) {
                // make the QR code and write it to the page
                var qr = new QRious({
                    element: document.querySelector('#qr_proof_[@field:box_number]'),
                    size: 100,
                    level: 'L',
                    value: qr_URL
                });
                $('#qr_proof_[@field:box_number]').closest('div').css('display', 'block');
            }
        }

    });

</script>
