A new message has been posted for [@field:tblMessages_messages_subject]:
<blockquote>[@field:Messages_messages_notes!]</blockquote>
<a href="[@app:URL_ThreeTwins_parent_site][@field:tblProof_cust_detail_URL]" style="color: #ffffff;text-decoration:none;font-family:Arial,sans-serif;font-style:normal;font-weight:600;text-align:center;vertical-align:middle;background-color:#522994;border-color:#9C7BBD;border-style:solid;border-width:2px;margin:0px 3px;padding:4px 15px;min-width: 100px;display: inline-block;">Visit Proof</a> to see your proof conversation on our website.<br />
<br />
[@field:tblMessages_email_message!]