<!-- This script sets the total number of datapages on the page, for the purpose of only showing one authentication login screen, instead of one login screen per datapage. It will show the login screen for the first datapage, which should always be the Navigation Menu datapage. -->
<script type="text/javascript">
  var v_dpTotalCount = 3;
  var v_dpCounter = 0;
</script>

<!-- This is the navigation header datapage used everywhere: Navigation Menu (All Users Folder) -->
<script type="text/javascript" src="https://c0dca200.caspio.com/dp/1dae6000eb4d6bdd3f75434ca819/emb"></script>
<div class="cxkg"><a href="https://c0dca200.caspio.com/dp/1dae6000eb4d6bdd3f75434ca819">Click here</a> to load this Caspio <a href="http://www.caspio.com" target="_blank" title="Cloud Database">Cloud Database</a></div>

<!-- The layout for the page -->
<div>
  <div class="inline" style="width:500px;">
    <h2 class="wsite-content-title" style="text-align:left;">Start New Message</h2>
    <!-- Customer Proof Message New Datapage (Customers Folder) -->
    <script type="text/javascript" src="https://c0dca200.caspio.com/dp/1dae6000689918acd5f1431bbc50/emb"></script>
    <div class="cxkg"><a href="https://c0dca200.caspio.com/dp/1dae6000689918acd5f1431bbc50">Click here</a> to load this Caspio <a href="http://www.caspio.com" target="_blank" title="Cloud Database">Cloud Database</a></div>

  </div>
  <div class="inline">
    <h2 class="wsite-content-title" style="text-align:left;">Current Proof for Reference</h2>
    <!-- ArtFile Preview Datapage (All Users Folder) -->
    <script type="text/javascript" src="https://c0dca200.caspio.com/dp/1dae60009564d7a4d6b644dca30b/emb"></script>
    <div class="cxkg"><a href="https://c0dca200.caspio.com/dp/1dae60009564d7a4d6b644dca30b">Click here</a> to load this Caspio <a href="http://www.caspio.com" target="_blank" title="Cloud Database">Cloud Database</a></div>

  </div>
</div>

<!-- This script allows us to only show the login screen for the first datapage on this webpage (the counter for this was set at the beginning of this page). -->
<script type="text/javascript">
document.addEventListener('DataPageReady', function (v_e)
  {try{document.getElementsByName('cb-auth-box')[v_dpCounter].style.display = "none";}catch(v_e){}
    v_dpCounter +=1;
	  if( v_dpTotalCount <= v_dpCounter)
     {if(document.getElementsByName("cb-auth-box"))
        {var v_box = document.getElementsByName("cb-auth-box").length-1 ;
	       for (i=0; i < v_box; i++) { document.getElementsByName("cb-auth-box")[i].style.display = "none" ; }
		try{document.getElementsByName("cb-auth-box")[0].style.display = "" ;}catch(v_e){}
	       }
	    }
  document.getElementById("cust-proofs").className = "active";

	 });

</script>
