<!-- This script sets the total number of datapages on the page, for the purpose of only showing one authentication login screen, instead of one login screen per datapage. It will show the login screen for the first datapage, which should always be the Navigation Menu datapage. -->
<script type="text/javascript">
  var v_dpTotalCount = 3;
  var v_dpCounter = 0;
</script>

<!-- This is the navigation header datapage used everywhere: Navigation Menu (All Users Folder) -->
<script type="text/javascript" src="https://c0dca200.caspio.com/dp/1dae6000eb4d6bdd3f75434ca819/emb"></script>
<div class="cxkg"><a href="https://c0dca200.caspio.com/dp/1dae6000eb4d6bdd3f75434ca819">Click here</a> to load this Caspio <a href="http://www.caspio.com" target="_blank" title="Cloud Database">Cloud Database</a></div>

<!-- The layout for the page -->
<!-- Customer Artwork Search Form (Customers) -->
<script type="text/javascript" src="https://c0dca200.caspio.com/dp/1dae60003abdc5b79b8d4525b38e/emb"></script>
<div class="cxkg"><a href="https://c0dca200.caspio.com/dp/1dae60003abdc5b79b8d4525b38e">Click here</a> to load this Caspio <a href="http://www.caspio.com" target="_blank" title="Cloud Database">Cloud Database</a></div>
<!-- Customer Artwork Search Results (Customers) -->
<script type="text/javascript" src="https://c0dca200.caspio.com/dp/1dae6000f1003780774f45ada446/emb"></script>
<div class="cxkg"><a href="https://c0dca200.caspio.com/dp/1dae6000f1003780774f45ada446">Click here</a> to load this Caspio <a href="http://www.caspio.com" target="_blank" title="Cloud Database">Cloud Database</a></div>

<!-- This script allows us to only show the login screen for the first datapage on this webpage (the counter for this was set at the beginning of this page). -->
<script type="text/javascript">
document.addEventListener('DataPageReady', function (v_e)
  {try{document.getElementsByName('cb-auth-box')[v_dpCounter].style.display = "none";}catch(v_e){}
    v_dpCounter +=1;
	  if( v_dpTotalCount <= v_dpCounter)
     {if(document.getElementsByName("cb-auth-box"))
        {var v_box = document.getElementsByName("cb-auth-box").length-1 ;
	       for (i=0; i < v_box; i++) { document.getElementsByName("cb-auth-box")[i].style.display = "none" ; }
		try{document.getElementsByName("cb-auth-box")[0].style.display = "" ;}catch(v_e){}
	       }
	    }
  document.getElementById("cust-artwork").className = "active";

	 });

</script>
