<div style="text-align:center;"><div style="height: 10px; overflow: hidden;"></div>

<button id="custLoginID" onclick="window.location.assign('customer-artwork.html')" class="cbButton" type="button" style="color: white; background-color: #1188dd; border-color: #044488;">Contract Customer Login</button>

<div style="height: 10px; overflow: hidden;"></div></div>

<div style="text-align:center;"><div style="height: 10px; overflow: hidden;"></div>

<button onclick="window.location.assign('artwork.html')" class="cbButton" type="button">3TP Manager Login</button>

<div style="height: 10px; overflow: hidden;"></div></div>

<div style="text-align:center;"><div style="height: 10px; overflow: hidden;"></div>

<button onclick="window.location.assign('garments.html')" class="cbButton" type="button">3TP Production Login</button>

<div style="height: 10px; overflow: hidden;"></div></div>

<script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>

<script>

$(document).ready(function(){
  $('#custLoginID').on("mouseover", function(){
    $(this).css({"background-color": "#1352a2", "border-color": "#08325e"});
  });
    $('#custLoginID').on("mouseout", function(){
      $(this).css({"background-color": "#1188dd", "border-color": "#044488"});
    });
});

</script>
